.ziltag-landing-step{
  font-family: 'Roboto', sans-serif;
  &__icon{
    width: 70px;
    height: 70px;
    margin: 0 0 0 25px;
    &--man {
      background: url('./man.png') center/contain no-repeat;
    }
    &--card {
      background: url('./card.png') center/contain no-repeat;
    }
    &--code {
      background: url('./step_code.png') center/contain no-repeat;
    }
  }
  &__bottom{
    margin-top: 12px;
  }
  &__number{
    display: inline-block;
    font-size: 60px;
    color: rgba(0,0,0,.87);
    font-weight: 900;
    line-height: 71px;
  }
  &__right{
    display: inline-block;
    margin-left: 8px;
  }
  &__name{
    font-size: 20px;
    color: rgba(0,0,0,.87);
    font-weight: 900;
    line-height: 20px;
  }
  &__summery{
    font-size: 14px;
    color: rgba(0,0,0,.87);
    font-weight: 300;
    line-height: 20px;
  }
}