<div class="container-fluid layout_fluid" data-layout="outer">
    
  <div class="fill_white" data-layout="outer_fill_white"></div>
  <div class="custom_header_line" data-layout="custom_header_line"></div>
  
  <div class="container" data-layout="inner">
    <div class="row">
      
      <div class="col-xs-2 col_left">
        <%= render :partial => "/layouts/partials/sidebar" %>
      </div>
      
      <div class="col-xs-10 col_right" data-layout="col_right">
        <%= flash_messages %>
        <section class="ziltag_single_page">
          
          <article class="post_ziltag_article">
            <header class="post_header">
              
              <div class="user_profile_info">
                
                <div class="profile_info_block">
                  
                  <div class="pull-right operation_block">
                    <div class="btn_cross text-right">
                      <a href="#" class="btn_remove"><i class="fa fa-remove fa-2x"></i></a>
                    </div><!-- /.btn_cross -->
                    <ul class="list-unstyled list-inline other_list">
                      <li><a href="#"><i class="fa fa-share fa-2x"></i></a></li>
                      <li><a href="#"><i class="fa fa-star fa-2x"></i></a></li>
                      <li><a href="#"><i class="fa fa-comment fa-2x"></i></a></li>
                    </ul>
                  </div><!-- /.operation_block -->
                  
                  
                  <div class="profile_img_block">
                    <img src="http://lorempixel.com/50/50/" class="profile_img">
                  </div><!-- /.profile_img -->
                  <div class="profile_basic">
                    <p class="user_name">Victor Gumdrop</p>
                    <time datetime="2015-03-01" class="datetime">Posted on Mar. 1, 2015</time>
                    
                    <!-- 這個.follow_block在 #5 有抽離成partial，所以在此不做多餘處理，僅示意 -->
                    <div class="follow_block">
                      <a class="btn btn-default btn-xs follow_user">關注用戶</a>
                      <a class="btn btn-default btn-xs follow_user cancel">取消追蹤</a>
                    </div><!-- /.follow_block -->
                    
                  </div><!-- /.profile_basic -->
                </div><!-- /.profile_info_block -->
                
                
                
              </div><!-- /.user_profile_info -->
              
            </header><!-- /.post_header -->
            
            <section class="main_content">
              <h2 class="post_title">How to create beautiful typography in 3 days.</h2>
              
              <div class="ziltag_block">
                <img src="http://lorempixel.com/1000/500/" class="img-responsive">
              </div><!-- /.ziltag_block -->
              
              <div class="address_block">
                <div class="left_block">
                  <i class="fa fa-map-marker fa-2x"></i>
                </div>
                <div class="right_block">
                  <p class="para1">Ziltag 微廣科技總部</p>
                  <p class="para2">台北市內湖區瑞光路192號</p>
                  
                </div><!-- /.right_block -->
                <a href="#" class="btn btn-default btn-xs add_reminder">新增提醒</a>
              </div><!-- /.address_block -->
              
              <div class="context_block">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet pellentesque massa. Duis at tristique metus. Mauris vestibulum sem sit amet posuere maximus. Vivamus non odio vulputate, facilisis mauris in, blandit erat. Integer vel nulla eget velit bibendum consequat. Phasellus tempor sit amet libero eu vulputate. Quisque aliquet mauris ac metus dapibus, vel venenatis urna lacinia. Quisque at imperdiet tortor, at sagittis turpis. Pellentesque vel sollicitudin felis. Curabitur fringilla sit amet justo sed blandit. Integer ut diam vel turpis posuere dignissim non at est.
              </div><!-- /.context_block -->
              
            </section><!-- /.main_content -->
            
          </article><!-- /.post_ziltag_article -->
          
        </section><!-- /.ziltag_single_page -->
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.container -->

<script type="application/json" id="other_ziltaggings"><%= raw render partial: 'ziltaggings.json', object: @other_ziltaggings %></script>