<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Ziltag</title>
  <%= stylesheet_link_tag 'dashboard', media: 'all' if Rails.env.production? %>
</head>
<body>
  <div id="dashboard"></div>
  <%= javascript_include_tag 'dashboard' %>
</body>
</html>