<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="3;url=/">
  <title>Dashboard is not available during demo</title>
</head>
<body>
  <p style="text-align:center;line-height:28px">Dashboard is not available during demo,<br>redirecting in 3 seconds...</p>
</body>
</html>
