$bracking-width: 1111px;
.ziltag-landing-bottom{
  height: 502px;
  background: url('./landing_logo.png') center 81px / 158px no-repeat, white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px 104px 50px;
  &__slogan{
    margin-top: 221px;
    max-width: 696px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: rgba(0,0,0,.87);
    line-height: 40px;
    text-align: center;
  }
  &__buttons{
    margin-top: 41px;
    max-width: 696px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: $bracking-width) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__button{
    width: 245px;
    margin: 0 22.5px;
    @media screen and (max-width: $bracking-width) {
      &:not(:first-child){
        margin-top: 18px;
      }
    }
  }
}