.ziltag-landing-bottom{
  height: 502px;
  background: url('./landing_logo.png') center 81px / 158px no-repeat, white;
  padding-bottom: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__slogan{
    margin-top: 221px;
    width: 696px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: rgba(0,0,0,.87);
    line-height: 40px;
    text-align: center;
  }
  &__buttons{
    margin-top: 41px;
    width: 696px;
    display: flex;
    justify-content: center;
  }
  &__button{
    width: 245px;
    margin: 0 22.5px;
  }
}