<div class="layout__profile profile">
  <div class="profile__avatar" style="background-image:url(http://fakeimg.pl/300/)"></div>
  <div class="profile__field">
    <label for="" class="profile__label">Username</label>
    <div class="profile__value">tonytonyjan</div>
  </div>
  <div class="profile__field">
    <label for="" class="profile__label">Email</label>
    <div class="profile__value">tonytonyjan@gmail.com</div>
  </div>
  <div class="profile__field">
    <label for="" class="profile__label">Password</label>
    <div class="profile__value">******</div>
    <a href="" class="profile__link">change</a>
  </div>
  <div class="profile__field">
    <label for="" class="profile__label">Partner’s domain</label>
    <div class="profile__value">chang2301.tumblr.com </div>
    <a href="" class="profile__link">change</a>
  </div>
  <div class="profile__field">
    <label for="" class="profile__label">New password</label>
    <input type="password" class="profile__input">
  </div>
  <div class="profile__field">
    <label for="" class="profile__label">Confirm</label>
    <input type="password" class="profile__input">
  </div>
  <div class="profile__sublabel">Plugin script</div>
  <textarea rows="1" onclick="this.focus();this.select()" readonly="readonly" class="profile__script"><script src="//localhost:2000/plugin.js" data-ziltag="5692f2"></script></textarea>
  <div class="profile__divider"></div>
  <div class="profile__actions">
    <a class="profile__left" href="#"><i class="material-icons">arrow_back</i> back</a>
    <a class="profile__right" href="#">Finish</a>
  </div>
</div>