<div class="container normal_container">
  
  <div class="row">
    <div class="col-xs-12">
      <%= flash_messages %>
    </div><!-- /.col-* -->
  </div><!-- /.row -->
  
  <div class="row">
    
    <div class="col-xs-3">
      <%= render :partial => "/partials/registration_section" %>
    </div><!-- /.col-* -->
    
    
    <div class="col-xs-9">
      <img src="http://placehold.it/2000x1000" class="img-responsive">
      
    </div><!-- /.col-* -->
    
  </div><!-- /.row -->
</div><!-- /.normal_container -->