.ziltag-pages-guide {
  background-color: white;
  margin: 0 65px;
  border: solid 1px rgba(0,0,0,.12);
  padding-top: 43px;
  padding-bottom: 58px;
  display: flex;
  justify-content: center;
  &__guide {
    width: 669px;
  }
}