.ziltag-form-password {
  width: 380px;
  &__field {
    margin-top: 34px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__button {
    margin-top: 38px;
  }
  &__error {
    color: red;
    text-align: center;
    margin-top: 10px;
    height: 18px;
  }
}