<!-- handlerbar:ziltag_wrapper -->
<script id="handlebar_ziltag_thumb_show_one" type="text/x-handlebars-template">
  <div class="ziltag_thumb">
    <div class="ziltag_wrapper">
      <img src="{{image_url}}">
      <a data-x="{{x}}" data-y="{{y}}" data-ziltag-modal  data-remote="true" href="{{link}}" class="active"></a>
    </div>
  </div>
</script>

<!-- handlerbar:ziltag_wrapper -->
<script id="handlebar_comment" type="text/x-handlebars-template">
  
</script>
