<div class="page-header">
  <h1>編輯 <%= Admin::Photo.model_name.human %></h1>
</div>

<%= render 'form' %>

<hr>

<%= link_to t('scaffold.show'), @admin_photo, class: 'btn btn-default' %>
<%= link_to t('scaffold.back'), admin_photos_path, class: 'btn btn-default' %>
