.collecting-button{
  &__collect{
    color: $main_gray_color;
    font-size: 24px;
    cursor: pointer;
  }

  &__uncollect{
    color: $main_red_color;
    @extend .collecting-button__collect;
  }
}