/* 關注用戶 & 取消追蹤 */

@import "../colors";
a.follow_user{
  display: inline-block;
  border:1px solid $fourth_gray_color;
  background-color: $secondary_gray_color;
  color: $main_gray_color;
  &.cancel{
    background-color: $main_red_color;
    color: $main_white_color;
  }
}