/* layout 版型 */

@media screen and (max-width:767px){
  .container{
    width:768px !important;
  }
  nav.navbar{
    width:768px !important;
  }
}
body{
  @media screen and (min-width:768px){
    padding-top: 60px;
  }
}
div.layout_fluid{
  background-color: $secondary_gray_color;
  position: relative;
  padding:0;
  @media screen and (max-width:767px){
    width:768px !important;
  }
  div.fill_white{
    background-color: $main_white_color;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
  }
  
  div.col_left{
  }
  div.col_right{
    padding-top: 15px;
    @media screen and (min-width:768px){
      padding-left: 0;
    }
    div.alert{
      margin-top:20px;
    }
  }
}