/* 登入區塊 */

section.c_login_section{
  h2.login_title{
    font-size: 36px;
    color: $main_gray_color;
    margin:{
      top:20px;
      bottom:20px;
    };
  }
  input.btn_login{
    background-color: $main_gray_color;
    color: $main_white_color;
  }
  
  div.form_inputs{
    border:1px solid $main_gray_color;
    border-radius: 10px;
    padding:15px;
    div.form-group:last-child{
      margin-bottom: 0;
    }
    p.help-block, span.help-block{
      margin-bottom: 0;
    }
    p.help-block{
      margin-top: 0;
    }
    
    div.each_input_div{
      position: relative;
      input.form-control{
        box-shadow: none;
        border-radius: 0;
        border:{
          top:none;
          left:0;
          right:0;
          bottom: 1px solid $main_gray_color;
        };
        padding-left:30px;
      }
      i.fa{
        position: absolute;
        top:10px;
        left:5px;
        color: $main_gray_color;
      }
    }
  }
  div.form_actions{
    margin-top: 15px;
  }
  p.para_hint{
    color: $main_gray_color;
    font-size: 12px;
    margin-top: 3px;
  }
}