/* 首頁文章區塊 */

article.post_article{
  border:1px solid $third_gray_color;
  margin-bottom: 20px;
  background-color: $main_white_color;
  box-shadow: 0 5px 5px $third_gray_color;
  &:before, &:after{
    content: "";
    display: block;
  }
  &:after{
    clear: both;
  }

  div.block_left{
    float:left;
    vertical-align: top;
    padding:20px;
    width:68%;
    @media screen and (min-width:992px) and (max-width:1199px){
      width:60%;
    }
    @media screen and (max-width:991px){
      width:49%;
    }
    time.datetime{
      color: $main_gray_color;
    }
    h2.post_title{
      margin:{
        top:5px;
        bottom:5px;
        left:0;
        right:0;
      };
      height: 55px;
      overflow: hidden;
      padding:0;
      font-size: 24px;
      a {
        color: $main_black_color;
        text-decoration: none;
      }
    }
    div.post_content_block{
      position: relative;
      a.post_content_link{
        text-decoration: none;
        display: inline-block;
      }
      div.post_content{
        margin-top: 10px;
        height: 105px;
        overflow: hidden;
        color:$main_black_color;
      }
      a.see_more{
        position: absolute;
        bottom:0px;
        right:0px;
      }
    }

    div.post_user_profile{
      margin-top: 10px;
      a.profile_link{
        display: inline-block;
        vertical-align: middle;
        img.user_profile_img{
          border-radius: 50%;
        }
      }
      div.follow_user_block{
        margin-left:10px;
        display: inline-block;
        vertical-align: middle;
        a.user_name{
          color: $main_black_color;
        }
      }
      ul.other_funcs{
        position: relative;
        top:10px;
      }
    }
  }
  div.block_right{
    float:right;
    border:1px soild green;
    vertical-align: top;
    width:300px;
    height: 300px;
    box-sizing: border-box;
    overflow: hidden;
  }

  div.slide_show_slick{
    clear:both;
    margin-bottom: 5px;
    padding:{
      left:30px;
      right:30px;
    };
    div.show_slick{
      margin-bottom: 0;
      a.square_image{
        width:50px;
        height: 50px;
        display: inline-block;
        overflow: hidden;
        text-align: center;
      }
      button.slick-prev, button.slick-next{
        background-color: gray;
        border-radius: 50%;
      }
    }
  }
}
