article.c_ziltag_sticker_article{
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  img.ziltag_sticker{
    width:34px;
    height: 29px;
    position: absolute;
  }
}