<!-- 以下2個按鈕要切換 -->
<div class="follow_block">
  <a class="btn btn-default btn-xs c_btn_follow_user">關注用戶</a>
  <a class="btn btn-default btn-xs c_btn_follow_user cancel">取消追蹤</a>
</div><!-- /.follow_block -->