<% 10.times do %>
  <article class="post_article">
    
    <div class="block_right">
      <img src="http://placehold.it/300x300" class="post_image">
    </div><!-- /.block_right -->
    
    <div class="block_left">
      <time datetime="2014-12-22" class="datetime">POSTED 22.DECEMBER 2014.</time>
      
      <h2 class="post_title">How to create beautiful typographyHow to create beautiful typography</h2>
      <div class="post_content">
        How to create beautiful typographyHow to create beautiful typographyHow to create beautiful typographyHow to create beautiful typographyHow to create beautiful typographyHow to create beautiful typographyHow to create beautiful typographyHow to create beautiful typographyHow to create beautiful typographyHow to create beautiful typographyHow to create beautiful typographyHow to create beautiful typographyHow to create beautiful typographyHow to create beautiful typographyHow to create beautiful typographyHow to create beautiful typography
      </div>
      
      <div class="post_user_profile">
        <a href="#" class="profile_link"><img src="http://placehold.it/50x50" class="user_profile_img"></a>
        <div class="follow_user_div">
          <a href="#" class="user_name">Mellisa May</a><br>
          
          <!-- 以下2個按鈕要切換 -->
          <a class="btn btn-default btn-xs follow_user">關注用戶</a>
          <a class="btn btn-default btn-xs follow_user cancel">取消追蹤</a>
        </div><!-- /.follow_user_div -->
        
        <ul class="list-unstyled list-inline pull-right other_funcs">
          <li class="share_item">
            <a href="#" class="btn_share"><i class="fa fa-share"></i></a>
            <div class="share_zone hidden" data-share-zone>
              <%= image_tag("other_triangle.png", :class => "other_triangle") %>
              <ul class="list-unstyled list-inline share_list">
                <li><a href="#" class="icon_share fb"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li><a href="#" class="icon_share twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li><a href="#" class="icon_share tumblr"><i class="fa fa-tumblr-square fa-2x"></i></a></li>
                <li><a href="#" class="icon_share googleplus"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
              </ul>
            </div><!-- /.share_zone -->
          </li>
          <li>
            <a href="#" class="btn_precious"><i class="fa fa-star"></i></a>
            <a href="#" class="btn_precious cancel"><i class="fa fa-star"></i></a>
          </li>
        </ul><!-- /.other_funcs -->
      </div><!-- /.post_user_profile -->
    </div><!-- /.block_left -->
    
    
    
    
  </article><!-- /.post_article -->
<% end %>