<li class="share_item">
  <a href="#"></a>
  <div>
    <%= image_tag("other_triangle.png") %>
    <ul>
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=<%= u ziltagging_url(ziltagging) if ziltagging %>" class="icon_share fb" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <li><a href="https://twitter.com/home?status=<%= u ziltagging_url(ziltagging) if ziltagging %>" class="icon_share twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
      <li><a href="https://plus.google.com/share?url=<%= u ziltagging_url(ziltagging) if ziltagging %>" class="icon_share googleplus" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
    </ul>
  </div>
</li>