.p-home__cover {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.p-home__auth-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.p-home__auth-buttons > *:not(:first-child) {
  margin-left: 18px;
}

.p-home__cover-image {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  object-fit: cover;
}

.p-home__logo {
  position: absolute;
  top: 21px;
  left: 108px;
  background: url('./white_logo.png') center/contain;
  width: 111px;
  height: 35px;
}

.p-home__intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,255,255,.85);
  padding: 36px 55px;
  border-radius: 8px;
}

.p-home__subtitle {
  font-size: 24px;
  color: #333333;
}

.p-home__usage {
  display: flex;
  align-items: flex-start;
  padding: 100px 107px;
  background-color: white;
  justify-content: center;
}

.p-home__usage-example {
  max-width: 500px;
  width: 100%;
  flex-shrink: 0;
}

.p-home__code {
  background: #EDEDED;
  padding: 55px;
  margin: 48px 0 0 0;
}

.p-home__sample-image {
  max-width: 500px;
  width: 100%;
  margin-left: 66px;
}

.p-home__get-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 42px 10px 47px 10px;
  background-color: #EDEDED;
}

.p-home__title {
  font-size: 42px;
  color: #333333;
}

.p-home__footer {
  padding: 20px 107px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-home__copyright {
  font-size: 12px;
  color: #979797;
}

.p-home__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p-home__link {
  display: inline-block;
}

.p-home__link:not(:first-child) {
  margin-left: 20px;
}

.p-home__link>a {
  text-decoration: none;
  color: #333333;
  font-size: 12px;
}

.p-home__icon-links {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-basis: 240px;
}

.p-home__icon-link {
  display: inline-block;
}

.p-home__icon-link:not(:first-child) {
  margin-left: 23px;
}

.p-home__icon-link>a {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.p-home__icon-link--github>a {
  background-image: url('./github.png');
}

.p-home__icon-link--twitter>a {
  background-image: url('./twitter.png');
}

@media screen and (max-width: 650px) {
  .p-home__intro {
    margin-top: 50px;
    padding: 10px 10px;
  }
  .p-home__auth-buttons {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .p-home__usage {
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
  }
  .p-home__code {
    padding: 10px;
  }
  .p-home__sample-image {
    margin: 50px 0 0 0;
  }
}

@media screen and (max-width: 1200px) {
  .p-home__footer {
    flex-direction: column-reverse;
    padding-left: 10px;
    padding-right: 10px;
    height: 120px;
  }
  .p-home__copyright {
    flex-basis: auto;
  }
  .p-home__links {
    flex-basis: 32px;
  }
  .p-home__icon-links {
    flex-basis: inherit;
  }
}
