.p-home__cover {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.p-home__cover-image {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: top;
  font-family: 'object-fit: cover; object-position: top;';
  width: 100vw;
  height: 100vh;
}

.p-home__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
}

.p-home__logo {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 108px;
  background: url('./black_logo.png') center/contain no-repeat;
  width: 111px;
  height: 35px;
}

.p-home__auth-buttons {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 20px;
  display: flex;
  align-items: center;
}

.p-home__auth-buttons>*:not(:first-child) {
  margin-left: 18px;
}

.p-home__intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, .85);
  padding: 36px 55px;
  border-radius: 8px;
}

.p-home__subtitle {
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-top: 14px;
}

.p-home__demo-form {
  margin-top: 40px;
}

.p-home__usage {
  display: flex;
  align-items: flex-start;
  padding: 100px 107px;
  background-color: white;
  justify-content: center;
}

.p-home__usage-example {
  flex-basis: 50%;
  flex-grow: 1;
}

.p-home__code {
  background: #EDEDED;
  padding: 55px;
  margin: 48px 0 0 0;
}

.p-home__sample-image-wrapper {
  flex-basis: 50%;
  flex-grow: 1;
  margin-left: 66px;
}

.p-home__sample-image {
  width: 100%;
}

.p-home__get-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 42px 10px 47px 10px;
  background-color: #EDEDED;
}

.p-home__title {
  font-size: 42px;
  color: #333333;
}

.p-home__footer {
  padding: 20px 107px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-home__copyright {
  font-size: 12px;
  color: #979797;
}

.p-home__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p-home__link {
  display: inline-block;
}

.p-home__link:not(:first-child) {
  margin-left: 20px;
}

.p-home__link>a {
  text-decoration: none;
  color: #333333;
  font-size: 12px;
}

.p-home__icon-links {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-basis: 240px;
}

.p-home__icon-link {
  display: inline-block;
}

.p-home__icon-link:not(:first-child) {
  margin-left: 23px;
}

.p-home__icon-link>a {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.p-home__icon-link--github>a {
  background-image: url('./github.png');
}

.p-home__icon-link--twitter>a {
  background-image: url('./twitter.png');
}

@media screen and (min-width: 2048px) {
  .p-home__auth-buttons>*:not(:first-child) {
    margin-left: 1vw;
  }
  .p-home__intro {
    padding: 3vw 2vw;
  }
  .p-home__title {
    font-size: 3vw;
    padding: 0 3.5vw;
  }
  .p-home__subtitle {
    font-size: 1.84vw;
    padding: 0 0.1vw;
    margin-top: 1vw;
  }
  .p-home__header {
    height: 10vh;
  }
  .p-home__logo {
    width: 30vw;
    height: 5vh;
    background-position: left;
  }
  .p-home__demo-form {
    margin-top: 2vw;
  }
  .z-field-button__send {
    right: 1vw;
  }
  .z-field-button__input--focus+.z-field-button__send {
    width: 2vw;
    height: 2vw;
  }
  .z-field-button__input {
    font-size: 1vw;
    padding: 1vw 2vw 1vw 1vw;
  }
  .z-button {
    font-size: 2vw;
    padding: 1vw 1.5vw;
    height: 3vw;
    width: 16vw;
  }
  .p-home__code {
    font-size: 2vw;
    margin: 4vw 0 0 0;
  }
  .p-home__usage {
    padding: 4vw 4vw;
  }
  .p-home__get-start {
    padding: 4vw 1vw 4vw 1vw;
  }
  .p-home__copyright {
    font-size: 1vw;
  }
  .p-home__link:not(:first-child) {
    margin-left: 2vw;
  }
  .p-home__link>a {
    font-size: 1vw;
  }

  .p-home__icon-links {
    flex-basis: 16vw;
  }
  .p-home__icon-link:not(:first-child) {
    margin-left: 2vw;
  }

  .p-home__icon-link>a {
    width: 2vw;
    height: 2vw;
  }
}

@media screen and (max-width: 1200px) {
  .p-home__footer {
    flex-direction: column-reverse;
    padding-left: 10px;
    padding-right: 10px;
    height: 120px;
  }
  .p-home__copyright {
    flex-basis: auto;
  }
  .p-home__links {
    flex-basis: 55px;
    flex-wrap: wrap;
  }
  .p-home__icon-links {
    flex-basis: inherit;
  }
}

@media screen and (max-width: 1080px) {
  .p-home__usage {
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
  }
  .p-home__usage-example {
    width: 100%;
  }
  .p-home__code {
    padding: 10px;
    margin: 20px 0 0 0;
  }
  .p-home__sample-image-wrapper {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 850px) {
  .p-home__title {
    font-size: 36px;
    padding: 0 15px;
  }
  .p-home__subtitle {
    font-size: 16px;
    padding: 0 30px;
  }
  .p-home__demo-form {
    padding: 0 40px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 650px) {
  .p-home__header {
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
  }
  .p-home__logo {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 25.225px;
  }
  .p-home__intro {
    margin-top: 50px;
    padding: 10px 10px;
  }
  .p-home__auth-button.p-home__auth-button--sign-in, .p-home__auth-button.p-home__auth-button--doc, .p-home__auth-button.p-home__auth-button--dashboard {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .p-home__title {
    font-size: 30px;
  }
  .p-home__subtitle {
    font-size: 14px;
  }
  .p-home__demo-form {
    padding: 0;
  }
  .p-home__code{
    font-size: 13px;
  }
}
