.ziltag-form-sign-in {
  max-width: 380px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  &__fields{

  }
  &__field{
    &:not(:first-child){
      margin-top: 34px;
    }
  }
  &__error{
    color: red;
    text-align: center;
  }
  &__button{
    margin-top: 34px;
  }
}