.ziltag-form-sign-in {
  max-width: 380px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  &__fields{

  }
  &__field{
    &:not(:first-child){
      margin-top: 34px;
    }
  }
  &__error{
    color: red;
    text-align: center;
  }
  &__button{
    margin-top: 34px;
  }
  &__forgot-password{
    color: rgba(0,0,0,.87);
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 14px;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 14px;
  }
}
