<%= content_for :full_interface do %>
<%= render 'users/partials/sec_user_profile' %>
<% end %>

<section class="section_following">
  <% @users.each_slice(2) do |pair| %>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= render 'users/partials/sec_following_user', user: pair.first %>
      </div><!-- /.col-* -->
      <div class="col-sm-12 col-md-6">
        <%= render 'users/partials/sec_following_user', user: pair.last %>
      </div><!-- /.col-* -->
    </div><!-- /.row -->
  <% end %>
</section><!-- /.section_following -->