<%= content_for :full_interface do %>
    <%= render 'users/partials/sec_user_profile' %>
<% end %>

<section class="section_post">
  <%= render :partial => "/partials/post_article", collection: @ziltaggings, as: :ziltagging %>
</section><!-- /.section_post -->
