<div class="cover cover--blur"></div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'action'}) do |f| %>
  <div class="action__title">Forgot your password?</div>
  <div class="action__subtitle">Fill in your email, we'll send you a reset instruction.</div>
  <div class="action__content">
    <div class="action__text-field text-field">
      <i class="text-field__icon material-icons">email</i>
      <%= f.email_field :email, class: 'text-field__input', placeholder: 'Email', required: true, autofocus: true %>
    </div>
    <div class="action__bar">
      <%= link_to :back, class: 'action__left' do %><i class="material-icons">arrow_back</i> back<% end %>
      <%= f.submit 'Submit', class: 'action__right' %>
    </div>
    <% if resource.errors.added? :email, :not_found %><div class="action__error">Email not found.</div><% end %>
  </div>
<% end %>