<header style="box-shadow: none; border-bottom: 1px solid rgba(0, 0, 0, 0.12)" class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><%= link_to image_tag('logo.png'), root_path %></span>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-layout-spacer"></div>
    <% if user_signed_in? %>
    <button id="profile-menu" class="mdl-button mdl-js-button mdl-button--icon">
      <%= image_tag current_user.avatar.thumb.url, width: '100%' %>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="profile-menu">
      <li class="mdl-menu__item"><%= link_to t(:settings), edit_user_registration_path %></li>
      <li class="mdl-menu__item"><%= link_to t(:logout), destroy_user_session_path, method: :delete %></li>
    </ul>
    <% end %>
  </div>
</header>