#!/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
APP=/home/deploy/ziltag/current
PIDFILE=$APP/tmp/pids/puma.pid
USER=deploy

sig(){
  local signal=${1:-TERM}
  start-stop-daemon --stop --oknodo --pidfile $PIDFILE --signal $signal
}

case $1 in
  start )
    start-stop-daemon --start --oknodo \
      --pidfile $PIDFILE \
      --chuid $USER \
      --chdir $APP \
      --startas bin/puma
    ;;
  stop )
    sig TERM
    ;;
  restart )
    sig USR2
    ;;
  phased-restart )
    sig USR1
    ;;
esac