#!/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
APP=/home/deploy/ziltag/current
PIDFILE=$APP/tmp/pids/qc.pid
USER=deploy

export QUEUES="mailers,default"
export RAILS_ENV=production

start(){
  start-stop-daemon --start --oknodo --background --make-pidfile \
    --pidfile $PIDFILE \
    --chuid $USER \
    --chdir $APP \
    --startas bin/rake -- qc:work
}

stop(){
  start-stop-daemon --stop --oknodo --retry 5 --pidfile $PIDFILE
}

case $1 in
  start )
    start
    ;;
  stop )
    stop
    ;;
  restart )
    stop && start
    ;;
esac