#! /bin/sh

APP=/home/ubuntu/ziltag.com
PIDFILE=$APP/tmp/pids/qc.pid
USER=ubuntu

export QUEUES="mailers,default"
export RAILS_ENV=production

start(){
  start-stop-daemon --start --oknodo --background --make-pidfile \
    --pidfile $PIDFILE \
    --chuid $USER \
    --chdir $APP \
    --startas bin/bundle -- exec rake qc:work
}

stop(){
  start-stop-daemon --stop --oknodo --retry 5 --pidfile $PIDFILE
}

case $1 in
  start )
    start
    ;;
  stop )
    stop
    ;;
  restart )
    stop && start
    ;;
esac