.l-demo-form {
  display: flex;
  align-items: center;
  margin-top: 44px;
  max-width: 600px;
  width: 100%;
}

.l-demo-form__field {
  font-size: 16px;
  padding: 0 16px;
  height: 36px;
  box-sizing: border-box;
  border: none;
  flex-grow: 1;
}

.l-demo-form__field:focus {
  outline: none;
}

.l-demo-form__field::placeholder {
  color: #979797;
}

.l-demo-form__button {
  flex-shrink: 0;
  margin-left: 10px;
}

@media screen and (max-width: 650px) {
  .l-demo-form {
    flex-direction: column;
  }
  .l-demo-form__field {
    width: 100%;
  }
  .l-demo-form__button {
    margin: 20px 0 0 0;
    width: 100%;
  }
}
