.photos.show{
  .layout-photo{
    width: 100%;
  }
  .sticker-info,.comment-info{
    margin-bottom: 10px;
  }
  .mdl-cell.mdl-cell--6-col{
    overflow: scroll;
  }

  @media screen and (min-width: 840px) {
    main{
      height: 100%;
      overflow: hidden;
      .mdl-grid{
        height: 100%;
      }
    }
  }
}