<article class="post_ziltag_article mode_modal" data-modal-status="close" data-modal-post-ziltag-article>
  <header class="post_header">
    
    <div class="user_profile_info">
      
      <div class="profile_info_block">
        
        <div class="pull-right operation_block">
          <div class="btn_cross text-right">
            <a href="#" class="btn_remove"><i class="fa fa-remove fa-2x"></i></a>
          </div><!-- /.btn_cross -->
          <ul class="list-unstyled list-inline other_list">
            <li><a href="#"><i class="fa fa-share fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-star fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-comment fa-2x"></i></a></li>
          </ul>
        </div><!-- /.operation_block -->
        
        
        <div class="profile_img_block">
          <img src="#" class="profile_img" data-user-avatar>
        </div><!-- /.profile_img -->
        <div class="profile_basic">
          <p class="user_name" data-user-username></p>
          <time datetime="" class="datetime">發表於 <span data-dreated-at></span></time>
          
          <!-- 這個.follow_block在 #5 有抽離成partial，所以在此不做多餘處理，僅示意 -->
          <div class="follow_block">
            <a class="btn btn-default btn-xs follow_user">關注用戶</a>
            <a class="btn btn-default btn-xs follow_user cancel">取消追蹤</a>
          </div><!-- /.follow_block -->
          
        </div><!-- /.profile_basic -->
      </div><!-- /.profile_info_block -->
      
      
      
    </div><!-- /.user_profile_info -->
    
  </header><!-- /.post_header -->
  
  <section class="main_content">
    <h2 class="post_title" data-post-title></h2>
    
    <article class="c_ziltag_sticker_article" data-ziltag-mode="responsive" data-is-modal="true" data-ziltag-sticker-article>
      <%#= image_tag @ziltagging.image_url, class: :'img-responsive', data: {ziltag_x: @ziltagging.x, ziltag_y: @ziltagging.y}, "data-show-sticker": "" %>
      
      <img src="#" class="img-responsive" data-ziltag-x="", data-ziltag-y="" data-image_url data-show-sticker>
      
      <%= image_tag("ziltag_sticker.png", :class => "ziltag_sticker hidden", "data-sticker": "") %>
    </article><!-- /.c_ziltag_sticker_article -->
    
    <div class="address_block">
      <div class="left_block">
        <i class="fa fa-map-marker fa-2x"></i>
      </div>
      <div class="right_block">
        <p class="para1" data-location-name></p>
        <p class="para2" data-location-address></p>
        
      </div><!-- /.right_block -->
      <a href="#" class="btn btn-default btn-xs add_reminder">新增提醒</a>
    </div><!-- /.address_block -->
    
    <div class="context_block" data-post-content></div><!-- /.context_block -->
    
  </section><!-- /.main_content -->
  
</article><!-- /.post_ziltag_article -->