$bracking-width: 1111px;
.ziltag-landing-demo{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  @media screen and (max-width: $bracking-width) {
    display: none;
  }
  &__code{
    flex-basis: 50%;
  }
  &__preview{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}