<div class="ready__box">
  <h4><%= image_tag 'brands/blogger.png', width: 40 %> Installation Guide for Blogger</h4>
  <hr>
  <ul class="ready__steps">
    <li><div class="ready__step-number">1</div> Go to the dashboard of your blog.</li>
    <li><div class="ready__step-number">2</div> Select "Template" on the side bar.</li>
    <li><div class="ready__step-number">3</div> Click "Edit HTML".</li>
    <li><div class="ready__step-number">4</div> Scroll down and paste the script before <code>&lt;/body&gt;</code>.</li>
    <li><div class="ready__step-number">5</div> Click "Save template", then Save. Now You are all set.</li>
  </ul>
</div>