<div class="installation">
  <div class="installation__title">Installation Guide</div>
  <ol class="installation__instructions">
    <li class="installation__instruction">Copy the script.</li>
    <li class="installation__instruction">Paste before <b><code>&lt;/body&gt;</code></b> in your website.</li>
  </ol>
</div>