<div class="ready__box">
  <h4><%= image_tag 'logo.png', width: 40 %> Installation Guide</h4>
  <hr>
  <ul class="ready__steps">
    <li><div class="ready__step-number">1</div> Click user icon on the top-right corner and select Edit appearance.</li>
    <li><div class="ready__step-number">2</div> Click Edit Theme button under Website Theme tab.</li>
    <li><div class="ready__step-number">3</div> Click Edit HTML.</li>
    <li><div class="ready__step-number">4</div> Scroll the editor all the way down and paste the script before xxxx</li>
    <li><div class="ready__step-number">5</div> Click Update Preview, then Save. Now You are all set.</li>
  </ul>
</div>