<div class="installation">
  <div class="installation__title">Installation Guide for Tumblr</div>
  <ol class="installation__instructions">
    <li class="installation__instruction">Click user icon on the top-right corner and select <b>Edit appearance</b>.</li>
    <li class="installation__instruction">Click <b>Edit Theme</b> button under <b>Website Theme</b> tab.</li>
    <li class="installation__instruction">Click <b>Edit HTML</b>.</li>
    <li class="installation__instruction">Scroll the editor all the way down and paste the script before <b><code>&lt;/body&gt;</code></b></li>
    <li class="installation__instruction">Click <b>Update Preview</b>, then <b>Save</b>. Now You are all set.</li>
  </ol>
</div>