<div class="cover"></div>
<div class="layout__landing landing">
  <div class="landing__title">Your website needs more.</div>
  <div class="landing__subtitle">Meet Ziltag, the ultimate plugin for your images.</div>
  <%= form_tag register_path do |f| %>
    <div class="landing__field field field--solid">
      <%= email_field_tag 'guest[email]', @guest.email, required: true, class: 'field__input', placeholder: 'Enter your email' %>
      <div class="field__line"></div>
      <button type="submit" class="field__button">Join</button>
    </div>
  <% end %>
  <div class="landing__underline">By joining us to become a Ziltag Partner, you agree to our <a href="http://blog.ziltag.com/post/136853735385/terms-of-service" target="_blank">term</a> of use and <a href="http://blog.ziltag.com/tagged/policy" target="_blank">privacy policy.</a></div>
  <% if @error %><div class="landing__error"><%= @error %></div><% end %>
</div>

<iframe class="layout__player" width="590" height="325" src="https://www.youtube.com/embed/ic2-Ascvte4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

<div class="layout__footer footer">
  <ul class="footer__list">
    <li class="footer__item"><a target="_blank" data-event="click-about" href="http://blog.ziltag.com/tagged/about">About</a></li>
    <li class="footer__item"><a target="_blank" data-event="click-blog" href="http://blog.ziltag.com/">Blog</a></li>
    <li class="footer__item"><a target="_blank" data-event="click-terms" href="http://blog.ziltag.com/post/136853735385/terms-of-service">Terms</a></li>
    <li class="footer__item"><a target="_blank" data-event="click-privacy" href="http://blog.ziltag.com/tagged/policy">Privacy</a></li>
  </ul>
  <div class="footer__copyright">© Ziltag Inc., 2016. All Rights Reserved.</div>
</div>