<div class="container-fluid layout_fluid" data-layout="outer">
    
  <div class="fill_white" data-layout="outer_fill_white"></div>
  <div class="custom_header_line" data-layout="custom_header_line"></div>
  
  <div class="container" data-layout="inner">
    <div class="row">
      
      <div class="col-xs-2 col_left">
        <%= render :partial => "/layouts/partials/sidebar" %>
      </div>
      
      <div class="col-xs-10 col_right" data-layout="col_right">
        <%= flash_messages %>
        <section class="section_post">
          <%= render :partial => "/partials/post_article", collection: @ziltaggings, as: :ziltagging %>
        </section><!-- /.section_post -->
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.container -->







<% content_for :javascripts do %>
  <script>
    $(document).on('ready page:load', function(){
      
      $('a.btn_share').on('click', function(e){
        e.preventDefault();
        $(this).closest("li").find("div[data-share-zone]").toggleClass("hidden");
      });
    });
  </script>
<% end %>