<!--
<div class="container-fluid layout_fluid" data-layout="outer">
    
  <div class="fill_white" data-layout="outer_fill_white"></div>
  <div class="custom_header_line" data-layout="custom_header_line"></div>
  
  <div class="container" data-layout="inner">
    <div class="row">
      
      <div class="col-xs-2 col_left" style="position:fixed;top:60px;min-width:128px;">
        <%#= render :partial => "/layouts/partials/sidebar" %>
      </div>
      
      <div class="col-xs-10 col-xs-offset-2 col_right" data-layout="col_right">
        <%#= flash_messages %>
        <section class="section_post" style="border:1px solid red;">
          <%#= render :partial => "/partials/post_article", collection: @ziltaggings, as: :ziltagging %>
        </section>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</div>
-->


<div class="container-fluid layout_fluid" >
  
  <%= render :partial => "/layouts/partials/sidebar" %>
  
  <div class="container" data-layout="inner">
    <div class="row">
      
      
      
      <div class="col-xs-10 col-xs-offset-2 col_right" data-layout="col_right">
        <%= flash_messages %>
        
        
        <section class="section_post">
          <%= render :partial => "/partials/post_article", collection: @ziltaggings, as: :ziltagging %>
        </section>
        
      </div>
      
    </div>
  </div>
</div>


<%= render :partial => "/partials/modals/post_ziltag_article_modal" %>