<section class="section_post">
  
  <%= render :partial => "/partials/post_article" %>
  
</section><!-- /.section_post -->

<% content_for :javascripts do %>
  <script>
    $(document).on('ready page:load', function(){
      
      $('a.btn_share').on('click', function(e){
        e.preventDefault();
        $(this).closest("li").find("div[data-share-zone]").toggleClass("hidden");
      });
    });
  </script>
<% end %>