<div class="ready">
  <h2>Thank you. Your script is now ready!</h2>
  <h5>Copy the script and get everything started!</h5>
  <textarea id="script" class="ready__textarea" rows="2" onclick="this.focus();this.select()" readonly="readonly"><script src="//<%= request.host_with_port + '/plugin.js' %>" data-ziltag="<%= @box.token %>"></script>
<noscript>You have to enable JavaScript to use Ziltag.</noscript></textarea>
  <button class="ready__copy capsule capsule--blue" onclick="document.getElementById('script').focus();document.getElementById('script').select()">COPY</button>
  <%= render(@box.service || 'general') %>
</div>