<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ziltag</title>
  <%= seo_meta_tags %>
  <%= stylesheet_link_tag    'landing', media: 'all' %>
  <%= javascript_include_tag 'landing' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><%= image_tag 'logo.png' %></span>
        <div class="mdl-layout-spacer"></div>
        <a href="#" class="landing-button landing-button--dark mdl-js-button">Sign up</a>
        <a href="#" class="landing-button landing-button--white mdl-js-button">Login</a>
      </div>
    </header>
    <!-- <main class="mdl-layout__content"></main> -->
  </div>
  <div id="fullpage">
    <div class="section section--1">
      <h1 class="heading">Search and be amazed.</h1>
      <input type="text" class="search-input" placeholder="Search or drag a photo here...">
      <div class="or">
        OR <button class="landing-button landing-button--dark mdl-js-button">Upload</button>
      </div>
      <div style="height:50%"></div>
    </div>
    <div class="section section--2"></div>
    <div class="section section--3"></div>
    <div class="section section--4"></div>
  </div>
</body>
</html>