<div class="cover cover--blur"></div>
<%= form_tag username_path, class: 'action' do |f| %>
  <div class="action__title">Thank you for joining us.</div>
  <div class="action__subtitle">Please setup your username to continue.</div>
  <div class="action__content">
    <div class="action__text-field text-field">
      <i class="text-field__icon material-icons">person</i>
      <%= text_field_tag 'guest[username]', @guest.username, class: 'text-field__input', placeholder: 'Username', autocomplete: 'off' %>
    </div>
    <div class="action__bar">
      <%= link_to root_path, class: 'action__left', data: {event: 'click-back'} do %><i class="material-icons">arrow_back</i> back<% end %>
      <button class="action__right">Next</button>
    </div>
    <% if @error %><div class="action__error"><%= @error %></div><% end %>
  </div>
<% end %>