/* 忘記密碼頁 */

body.passwords{
  div.normal_container{
    h2.forget_pwd_title{
      color: $main_gray_color;
      font-size: 36px;
    }
    div.form_inputs{
      margin-top: 20px;
      label.hint_txt{
        font-size: 18px;
        color: $main_gray_color;
      }
    }
    div.custom_group{
      position: relative;
      > div.form-group{
        > div.col-sm-11{
          @media screen and (min-width: 768px){
            padding-right: 0;
          }
        }
      }
      div.form_actions{
        position: absolute;
        right:0;
        top:0;
        input.btn_send_pwd{
          color:$main_white_color;
          background-color: $main_gray_color;
        }
      }
    }
    
  }
}