$bracking-width: 1111px;
.ziltag-landing-feature {
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,.87);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px 85px 25px;
  &__title {
    margin-top: 49px;
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
    text-align: center;
    @media screen and (max-width: $bracking-width) {
      font-size: 37px;
    }
  }
  &__subtitle {
    font-size: 20px;
    line-height: 33px;
    font-weight: 300;
    text-align: center;
    margin-top: 18px;
  }
  &__sections {
    margin-top: 4px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    max-width: 1212px;
    justify-content: center;
    box-sizing: border-box;
  }
  &__section {
    max-width: 318px;
    margin: 39px 55px 0 55px;
    @media screen and (max-width: $bracking-width) {
      margin: 39px 0 0 0;
    }
  }
  &__video {
    margin-top: 48px;
    @media screen and (max-width: $bracking-width) {
      display: none;
    }
  }
  &__imagine-title {
    font-size: 45px;
    font-weight: 700;
    font-color: rgba(0,0,0,.87);
    line-height: 53px;
    margin-top: 51px;
  }
  &__imagine-subtitle {
    font-size: 20px;
    font-weight: 300;
    font-color: rgba(0,0,0,.87);
    line-height: 24px;
    margin-top: 20px;
    text-align: center;
  }
  &__usecases{
    max-width: 759px;
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
    @media screen and (max-width: $bracking-width) {
      flex-direction: column;
    }
  }
  &__usecase {
    @media screen and (max-width: $bracking-width) {
      &:not(:first-child){
        margin-top: 62px;
      }
    }
  }
  &__checkout-more{
    margin-top: 88px;
    font-size: 20px;
    font-weight: 500;
    color: #EE2E24;
    line-height: 24px;
    text-decoration: none;
  }
}