.ziltag-install {
  background-color: white;
  margin: 0 65px;
  overflow: auto;
  padding-bottom: 20px;
  &__body {
    width: 669px;
    margin: 0 auto;
  }
  &__guide {
    margin-top: 21px;
  }
  &__bar{
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text{
    font-family: 'Roboto', sans-serif;
    color: rgba(0,0,0,.87);
    width: 305px;
  }
  &__title{
    font-size: 25px;
    line-height: 43px;
    font-weight: 500;
  }
  &__subtitle{
    margin-top: 18px;
    font-size: 16px;
    line-height: 24px;
  }
  &__buttons {
    padding: 22px;
    background-color: #F9F9F9;
    text-align: center;
  }
  &__share-text {
    font-size: 20px;
  }
  &__button{
    margin-top: 30px;
    width: 116px;
    height: 51px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    cursor: pointer;
    &:not(:first-child){
      margin-left: 18px;
    }
    &--twitter{
      background-image: url('./twitter_share.png');
    }
    &--facebook{
      background-image: url('./facebook_share.png');
    }
  }
  &__script{
    margin-top: 24px;
  }
}
