.ziltag-message-board {
  background-color: white;
  box-sizing: border-box;
  border: solid 1px rgba(0, 0, 0, .12);
  height: 154px;
  display: flex;
  align-items: center;
  min-width: 850px;
  &__icon {
    flex-basis: 191px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text-container {
    flex-grow: 1;
  }
  &__title {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 42px;
    color: rgba(0, 0, 0, .87);
  }
  &__subtitle {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, .87);
    line-height: 24px;
    margin-top: 9px;
  }
}