<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>樂貼外掛預覽</title>
</head>
<body>
  <img src="http://fakeimg.pl/350x200" alt="">
  <% Photo.order('random()').limit(3).each_with_index do |photo, i| %>
    <%= image_tag photo.source, height: 300 %>
  <% end %>

  <script>
    var ziltag_img_selector = 'img';
    (function(){
      var ztg = document.createElement('script');
      ztg.src = '<%= asset_url('embedded.js') %>';
      document.body.appendChild(ztg);
    })();
  </script>
</body>
</html>