.l-demo {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2147483645;
  background-color: white;
}

.l-demo__header {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.l-demo__left-container, .l-demo__right-container {
  display: flex;
  align-items: center;
}

.l-demo__logo {
  background: url('./demo_logo.png') no-repeat center/contain;
  width: 40px;
  height: 40px;
}

.l-demo__title {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.l-demo__close {
  color: white;
  margin-left: 20px;
  cursor: pointer;
}

.l-demo__iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
}

.l-demo__tip {
  position: absolute;
  top: 100px;
  width: 297px;
  background-color: #FAFAFA;
  color: #333333;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 15px 12px rgba(0,0,0,.22);
  left: 50%;
  transform: translate(-50%, 0);
  padding: 19px;
  box-sizing: border-box;
  line-height: 20px;
}

.l-demo__alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 297px;
  background: white;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

.l-demo__alert-body {
  padding: 24px;
  font-size: 21px;
  line-height: 24px;
}

.l-demo__alert-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
  height: 52px;
}

.l-demo__tip-head {
  line-height: 20px;
}

.l-demo__tip-container {
  display: flex;
}

.l-demo__tip-step {
  font-weight: bold;
  flex-basis: 52px;
  color: #EE2E24;
  flex-shrink: 0;
}

.l-demo__snackbar {
  position: absolute;
  bottom: 0;
  background-color: #333333;
  color: white;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 15px 12px rgba(0,0,0,.22);
  left: 50%;
  transform: translate(-50%, 0);
  padding: 19px;
  box-sizing: border-box;
  line-height: 24px;
}

.l-demo__snackbar-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.l-demo__snackbar a {
  color: inherit;
}

.l-demo__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 425px) {
  .l-demo__header {
    padding: 0 10px;
  }
}
