/* 圖片獨立頁 */

@import "../colors";
body.photos.show{
  section.photos_show{
    padding-top: 20px;
    padding-bottom: 20px;
    
    article.photos_show_article{
      background-color: $main_white_color;
      border:1px solid $sixth_gray_color;
      
      div.show_msg{
        padding: 20px 20px 0 20px;
      }
      div.img_block{
        width: 100%;
        padding:20px;
        article.c_ziltag_sticker_article{
          position: relative;
          div.other_func{
            position: absolute;
            width:100%;
            bottom:0;
            left:0;
            padding:5px 10px;
            
            background:black \9; /* IE8 */
            filter:alpha(opacity=60) \9; /* IE8 */
            background-color: rgba(0, 0, 0, .6);
            ul.other_func_ul{
              margin:0;
              > li{
                > a {
                  color: $main_white_color;
                }
              }
            }
          }
        }
      }
      
      div.contents_block{
        ul.msg_list{
          > li{
            padding:20px;
            border-bottom: 1px solid $main_gray_color;
            &:hover{
              background-color: $secondary_gray_color;
            }
            div.item_block{
              
              time.datetime{
                color: $main_gray_color;
              }
              h2.post_title{
                margin:{
                  top:5px;
                  bottom:5px;
                  left:0;
                  right:0;
                };
                overflow: hidden;
                padding:0;
                font-size: 24px;
                a {
                  color: $main_black_color;
                  text-decoration: none;
                }
              }
              div.post_content_block{
                position: relative;
                a.post_content_link{
                  text-decoration: none;
                  display: inline-block;
                }
                div.post_content{
                  margin-top: 10px;
                  height: 105px;
                  overflow: hidden;
                  color:$main_black_color;
                }
                a.see_more{
                  position: absolute;
                  bottom:0px;
                  right:0px;
                }
              }
              
              div.post_user_profile{
                margin-top: 10px;
                a.profile_link{
                  display: inline-block;
                  vertical-align: middle;
                  img.user_profile_img{
                    border-radius: 50%;
                  }
                }
                div.follow_user_block{
                  margin-left:10px;
                  display: inline-block;
                  vertical-align: middle;
                  position: relative;
                  padding-right: 80px;
                  a.user_name{
                    color: $main_black_color;
                  }
                  div.follow_block{
                    position: absolute;
                    right:0;
                    top:8px;
                  }
                }
                ul.other_funcs{
                  position: relative;
                  top:10px;
                  > li{
                    > a{
                      &.btn_share{
                        color: $main_gray_color;
                        font-size: 24px;
                      }
                      &.btn_precious{
                        color: $main_gray_color;
                        font-size: 24px;
                        &.cancel{
                          color: $main_red_color;
                        }
                      }
                    }
                    &.share_item{
                      position: relative;
                      div.share_zone{
                        text-align: center;
                        padding:5px 10px;
                        position: absolute;
                        right:0;
                        bottom:-80px;
                        width:170px;
                        background-color: $main_white_color;
                        box-shadow: 0 3px 10px $main_gray_color;
                        img.other_triangle{
                          position: absolute;
                          right:10px;
                          top:-8px;
                        }
                        ul.share_list{
                          > li{
                            > a.icon_share{
                              &.fb{
                                color:#667EB9;
                              }
                              &.twitter{
                                color: #5DD7FC;
                              }
                              &.tumblr{
                                color: #708A97;
                              }
                              &.googleplus{
                                color: #F35E47;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              
              
              
              
              
            }
          }
        }
      }
      
    }
    
  }
}