<div class="cover cover--blur"></div>
<div class="action">
  <div class="action__title">Comment unfollowed!</div>
  <div class="action__subtitle">You will no longer receive notification email from this thread.</div>
  <div class="action__subtitle">You can always follow the thread again by leaving a new comment.</div>
</div>