<div class="cover cover--blur"></div>
<div class="action">
  <div class="action__title">Unsubscribe Successfully!</div>
  <div class="action__subtitle">You will no longer receive notification emails until you comment it again.</div>
</div>