.ziltag-cheer{
  width: 100%;
  min-height: 162px;
  background: url('./cheers.png') center top/66px no-repeat;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    margin-top: 92.13px;
    font-weight: 500;
    font-size: 32.55px;
    line-height: 38px;
  }
  &__subtitle{
    margin-top: 10px;
    font-size: 18.08px;
    line-height: 21px;
  }
}