<section class="sec_following_user">
                
    <div class="right_zone">
        <div class="profile_img">
            <a href="#"><img src="http://lorempixel.com/150/150/"></a>
        </div><!-- /.profile_img -->
    </div><!-- /.right_zone -->
    
    <div class="left_zone">
        <span class="username">Maggie Turner</span>
        <ul class="list-unstyled following_and_fans_ul">
            <li>關注：350</li>
            <li>粉絲：580</li>
        </ul>
        
        <div class="follow_user_block">
            <%#= following_button ziltagging.user %>
            <a class="follow" data-leader-id="1" data-remote="true" rel="nofollow" data-method="post" href="/follow?leader_id=1">關注用戶</a><a class="unfollow" data-leader-id="1" style="display:none" data-remote="true" rel="nofollow" data-method="delete" href="/unfollow?leader_id=1">取消追蹤</a>
        </div><!-- /.follow_user_block -->
        
    </div><!-- /.left_zone -->
    
</section><!-- /.sec_following_user -->