<section class="sec_user_profile" data-layout="full_interface">
    <div class="user_banner">
        <img src="http://lorempixel.com/1000/500/" class="img-responsive user_banner_img">
    </div><!-- /.user_banner -->
    
    <div class="user_basic_info">
        <div class="col-xs-8 col-sm-8 col-md-6">
            <div class="left_zone">
                <div class="profile_img">
                    <a href="#"><img src="http://lorempixel.com/150/150/"></a>
                </div><!-- /.profile_img -->
                <div class="following_and_follower">
                    <span class="profile_username">Scarlett Johansson</span>
                    <ul class="list-unstyled list-inline following_info_ul">
                        <li><a href="#">關注：<span class="num">15</span></a></li>
                        <li><a href="#">粉絲：<span class="num">300K</span></a></li>
                    </ul>
                </div><!-- /.following_and_follower -->
            </div><!-- /.left_zone -->
        </div>
        <div class="col-xs-4 col-sm-4 col-md-6">
            <div class="right_zone">
                <ul class="list-unstyled list-inline other_funcs_ul">
                    <li><a href="#" class="active">樂貼</a></li>
                    <li><a href="#">收藏</a></li>
                </ul>
            </div><!-- /.right_zone -->
        </div>
    </div><!-- /.user_basic_info -->
</section><!-- /.sec_user_profile -->