<div class="row">
  <div class="col-xs-3">
    <%= render :partial => "/partials/login_section" %>
  </div>

  <div class="col-xs-9">
    <img src="http://placehold.it/2000x1000" class="img-responsive">
  </div>
</div>