.ziltag-button {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: 0.78px;
  line-height: 16px;
  padding: 14px 33px;
  box-sizing: border-box;
  background-color: #EE2E24;
  height: 43px;
}