<div class="page-header">
  <h1>新增 <%%= <%= class_name %>.model_name.human %></h1>
</div>

<%%= render 'form' %>

<hr>

<%%= link_to t('scaffold.back'), <%= index_helper %>_path, class: 'btn btn-default' %>