.sign-up {
  display: flex;
  flex-direction: column;
}

.sign-up__field:not(:first-child) {
  margin-top: 30px;
}

.sign-up__privacy {
  margin-top: 12px;
  font-size: 12px;
  color: #979797;
}

.sign-up__privacy a {
  color: #008BF3;
  text-decoration: none;
}

.sign-up__button {
  margin-top: 28px;
}

.sign-up__footer {
  margin-top: 24px;
  font-size: 12px;
  color: #979797;
}

.sign-up__sign-in {
  text-decoration: underline;
  cursor: pointer;
}
