.ziltag-verify {
  padding: 52px 60px;
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 37px;
  }
  &__fields {
    display: flex;
    flex-direction: column;
  }
  &__field {
    width: 310px;
    &:not(:first-child) {
      margin-top: 13px;
    }
  }
  &__button {
    width: 86px;
    margin-top: 24px;
  }
  &__error {
    margin-top: 12px;
    color: #EE2E24;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
}