.ziltag-verify {
  margin: 52px 60px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 61px;
  font-family: 'Roboto', sans-serif;
  &__cheer {
    margin-top: 46px;
  }
  &__form {
    margin-top: 61px;
    width: 380px;
  }
  &__field{
    &:not(:first-child){
      margin-top: 34px;
    }
  }
  &__button{
    margin-top: 38px;
  }
  &__error {
    color: red;
    font-size: 14px;
  }
}