.auth{
  width: 300px;
  .material-icons{
    position: absolute;
  }
  .mdl-textfield{
    width: 90%;
  }
  .mdl-textfield__input{
    padding-left: 30px;
  }
  .mdl-textfield__label{
    padding-left: 30px;
  }
  .auth__bottom{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.26);
  }
  .hide{
    display: none;
  }
}