// http://codepen.io/tonytonyjan/pen/MaJpJw
// <div class="dialog">
//   <div class="dialog__arrow"></div>
//   <div class="dialog__frame"></div>
// </div>

$default-background-color: white;
$preview-background-color: rgba(255,255,255,0.8);

.dialog{
  .mdl-textfield.is-invalid .mdl-textfield__input{
    border-color: inherit;
  }
  .mdl-textfield.is-invalid .mdl-textfield__label:after,.mdl-textfield__label:after{
    background-color: black;
  }
  &__arrow{
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $default-background-color;
  }

  &__frame{
    background: $default-background-color;
    min-width: 300px;
    position: absolute;
    top: -20px;
    left: 10px;
    border-radius: 5px;
    padding: 10px;
  }

  &__dismiss{
    position: absolute;
    top: 5px;
    right: 5px;
  }
  &--top{
    .dialog{
      &__frame{
        top: auto;
        bottom: -20px;
      }
    }
  }
  &--left{
    .dialog{
      &__arrow{
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid $default-background-color;
        left: -10px;
        border-right: none;
      }
      &__frame{
        left: auto;
        right: 10px;
      }
    }
  }
  &--preview{
    .dialog{
      &__arrow{
        border-right-color: $preview-background-color;
        border-left-color: $preview-background-color;
        top: -10px;
      }
      &__frame{
        min-height: inherit;
        min-width: inherit;
        white-space: nowrap;
        background: $preview-background-color;
      }
    }
  }
}