.platform-section{
  width: 900px;
  margin: 0 auto;
  >h2,>p{
    text-align: center;
  }
  &__hint{
    @extend .mdl-color-text--grey-500;
    font-size: 10px;
    position: absolute;
    .material-icons{
      font-size: 10px;
      vertical-align: middle;
    }
  }
  &__current-brand-img{
    margin-left: 30px;
  }
  &__platform{
    cursor: pointer;
    box-sizing: border-box;
    height: 80px;
    padding: 5px 20px;
    line-height: 70px;
    &--selected{
      background-color: rgba(0,0,0,.12);
    }
  }
  &__brand-img{
    border-radius: 50%;
    margin-right: 10px;
  }
  &__brand-name{
    @extend .mdl-typography--font-bold;
    font-size: 14px;
    display: inline;
  }
  &__title{
    @extend .mdl-typography--font-bold;
    font-size: 14px;
    padding: 30px 20px;
  }
  &__box{
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    margin: 10px 40px;
    &--left{
      width: 250px;
    }
    &--right{
      width: 480px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }
  }
  &__field-icon{
    width: 10%;
    vertical-align: middle;
    font-size: 30px;
    color: rgba(0,0,0,.54);
  }
  &__field{
    width: 80%;
  }
  &__submit{
    @extend .capsule,.capsule--blue;
    margin-top: 40px;
    margin-left: 300px;
  }
  .hide{
    display: none;
  }
}