.profile {
  &__avatar{
    box-sizing: border-box;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 40px auto;
    background-color: white;
    text-align: center;
    cursor: pointer;
    img{
      width: 180px;
      height: 180px;
      border-radius: 50%;
    }
  }
  &__avatar-input{
    display: none;
  }
  &__fields-container{
    box-sizing: border-box;
    width: 469px;
    margin: 0 auto;
    padding: 30px 50px;
    background-color: white;
    border-radius: 45px;
  }
  &__label{
    color: rgba(0,0,0,0.54);
    font-size: 20px;
    margin: 30px;
  }
  &__submit{
    margin-top: 24px;
  }
}