// <div class="sticker-container">
//   <img class="sticker-container__image">
//   <div class="sticker-container__holder" data-x="10" data-y="100">
//     <div class="sticker-container__circle"></div>
//   </div>
// </div>
.sticker-container{
  position: relative;

  &--edit-mode{
    .sticker-container__holder:not(.sticker-container__holder--current){
      display: none;
    }
    .sticker-container__image{
      filter: brightness(50%);
    }
  }

  &__image{
    transition: -webkit-filter .1s linear, filter .1s linear;
  }

  &__holder{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    transition: top 0.1s ease-in-out, left 0.1s ease-in-out;
    &--hide{
      display: none;
    }
    &:hover:not(.sticker-container__holder--current){
      .sticker-container__preview-dialog{
        display: inherit;
      }
    }
  }

  &__circle{
    @extend .mdl-shadow--4dp;
    position: relative;
    left: -15px;
    top: -15px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid gray;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
    &:hover,&.active{
      border-color: red;
      cursor: pointer;
    }
  }

  &__dialog{
    position: absolute;
    top: 0px;
    left: 15px;
    z-index: 10;
  }
  &__preview-dialog{
    @extend .sticker-container__dialog;
    display: none;
    .dialog__arrow{
      border-right-color: rgba(255,255,255,0.8);
    }
    .dialog__frame{
      min-height: inherit;
      min-width: inherit;
      white-space: nowrap;
      background: rgba(255,255,255,0.8);
    }
  }
}