// http://codepen.io/tonytonyjan/pen/yYMXME
.text-field{
  position: relative;
  display: inline-block;
  &__input{
    width: 625px;
    text-align: inherit;
  }
  &__button{
    position: absolute;
    top: 0;
    right: 0;
  }
}