.user-info{
  width: 100%;
  min-height: 0;
  overflow: visible;
  color: rgba(0, 0, 0, .87);
  &__avatar{
    width: 56px;
    border-radius: 50%;
  }
  &__text-section{
    position: relative;
    top: 6px;
    left: 10px;
    display: inline-block;
    font-size: 12px;
  }
  &__username{
    position: relative;
    top: 8px;
    font-weight: bold;
    font-size: 16px;
  }

  &__nav {
    top: 54px;
  }
}