.user-info{
  width: 100%;
  min-height: 0;
  &__avatar{
    width: 64px;
    border-radius: 50%;
  }
  &__text-section{
    display: inline-block;
    margin-left: 20px;
  }
  &__username{
    font-weight: bold;
    font-size: 16px;
  }
}