$bracking-width: 1111px;
.ziltag-landing-black {
  min-height: 380px;
  background: #262626;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px 42px 25px;
  &__title{
    margin-top: 59px;
    color: white;
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    @media screen and (max-width: $bracking-width) {
      font-size: 29px;
    }
  }
  &__quote{
    margin-top: 30px;
    color: white;
    font-size: 20px;
    line-height: 42px;
    max-width: 542px;
    text-align: center;
    font-weight: 300;
  }
  &__person{
    margin-top: 45px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
  }
  &__time{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 42px;
  }
}