var ZiltagSticker = {
  place:{
    x: 0,
    y: 0
  },
  
  move_direction: "",
  default_width: 300,
  default_height: 300,
  
  mode: ["default", "responsive"],
  
  ratio:1,
  
  // 貼上圖片
  appendImg: function(){
    var that = this;
    $("article[data-ziltag-sticker-article]").each(function(){
      that.appendMainZiltag( $(this) );
    });
    
  },
  
  // 貼上圖片：給首頁modal用
  appendImgOnModal: function(){
    var that = this;
    $("article[data-ziltag-sticker-article][data-is-modal='true']").each(function(){
      that.appendMainZiltag( $(this) );
    });
    
  },
  
  // 貼上主要紅色樂貼
  appendMainZiltag: function(theElement){

    switch( $(theElement).data("ziltag-mode") ){
      case this.mode[0]:
          // Step1：圖片寬、高比較大小
          if( this.compareSide(parseInt($(theElement).outerWidth()), parseInt($(theElement).outerHeight())) ){
            
            // Step2：縮放的比例
            this.ratio = this.calculateRatio( $(theElement).children("img[data-show-sticker]").width() );
            $(theElement).children("img[data-show-sticker]").css("width", this.default_width);
            
            this.move_direction = "vertical";
          }else{
          
            // Step2：縮放的比例
            this.ratio = this.calculateRatio( $(theElement).children("img[data-show-sticker]").height() );
            $(theElement).children("img[data-show-sticker]").css("height", this.default_width);
            
            this.move_direction = "horizontal";
          }
        break;
        
      case this.mode[1]:
        var original_image_width = $(theElement).children("img[data-show-sticker]")[0].naturalWidth;
        if( original_image_width > $(theElement).parent().width() ){
          // Step2：縮放的比例
          this.ratio = parseInt($(theElement).parent().width()) / original_image_width;
        }else{
          this.ratio = 1;
        }
        break;
    }
    
    
    this.place.x = $(theElement).children("img[data-show-sticker]").attr("data-ziltag-x") * this.ratio;
    this.place.y = $(theElement).children("img[data-show-sticker]").attr("data-ziltag-y") * this.ratio;
    
    
    
    // Step3：樂貼位置
    this.stickerPos( $(theElement) );
    
    
    
    // Step4：移動圖片
    switch( $(theElement).data("ziltag-mode") ){
      case this.mode[0]:
        
        if( this.move_direction == "vertical" ){
          var move = this.place.y - this.default_height;
          if( move >= 0){
            
            if( (parseInt($(theElement).outerHeight()) - this.place.y) <= that.default_height){
              $(theElement).css({
                top: "-" + ($(theElement).outerHeight()-this.default_height) + "px"
              });
            }else{
              $(theElement).css({
                top: "-" + ((this.default_height/2) + move) + "px"
              });
            }
            
          }
        }
        if( this.move_direction == "horizontal" ){
          var move = this.place.x - this.default_width;
          if( move >= 0){
            
            
            if( (parseInt($(theElement).outerWidth()) - this.place.x) <= this.default_width){
              $(theElement).css({
                left: "-" + ($(theElement).outerWidth()-this.default_width) + "px"
              });
            }else{
              $(theElement).css({
                left: "-" + ((this.default_width/2) + move) + "px"
              });
            }
            
            
          }
        }
        break;
    }
  },
  
  // 貼上所有其它灰色的樂貼
  appendOtherZiltags: function(articleElement, data, ziltag_link_hover){
    var all_other_ziltags = JSON.parse(data);
    var that = this;
    
    if($(articleElement).data("remove-ziltag")){
      $("img[data-sticker-others]").remove();
    }
    
    $.each(all_other_ziltags, function(index, value){
      
      that.place.x = parseInt(value.x * that.ratio);
      that.place.y = parseInt(value.y * that.ratio);
      
      if(ziltag_link_hover){
        $(articleElement).append("<a href='" + value.link + ".json' data-remote data-replace-article data-ziltag-id='" + value.id + "' data-ziltag-link><img src=\"<%= asset_path('ziltag_sticker_others.png') %>\" class='ziltag_sticker' style='left:" + that.place.x + "px;top:" + that.place.y + "px;' data-sticker-others></a>");
      }else{
        $(articleElement).append("<a href='" + value.link + ".json' data-remote data-replace-article data-ziltag-id='" + value.id + "'><img src=\"<%= asset_path('ziltag_sticker_others.png') %>\" class='ziltag_sticker' style='left:" + that.place.x + "px;top:" + that.place.y + "px;' data-sticker-others></a>");
      }
      
    });
  },
  
  // 比較寬、高，哪個數值較大
  compareSide: function(width, height){
    if (width <= height){
      return true;
    }
    return false;
  },
  
  // 計算比例
  calculateRatio: function(side_length){
    if( this.move_direction == "vertical" ){
      return (this.default_width / side_length);
    }
    return (this.default_height / side_length);
  },
  
  // 樂貼位置
  stickerPos: function(theElement){
    $(theElement).find("img[data-sticker]").css({
      left: this.place.x,
      top: this.place.y
    }).removeClass("hidden");
  }
  
}