<!-- TODO: deprecated partial -->
<div class="jumbotron jumbotron--center">
  <div class="jumbotron__title">BRAVO</div>
  <div class="jumbotron__subtitle">Ready to add a new tag? Let us help.</div>
  <div class="jumbotron__summary">You can add all kinds of information to help unveil every piece of secret within a photo. Help the lost information to find its source.</div>
  <div class="jumbotron__spacing"></div>
  <div class="jumbotron__item">
    <button class="jumbotron__item-number mdl-button mdl-js-button mdl-button--fab mdl-color--light-green-300">1</button>
    <div class="jumbotron__item-text">Click anywhere on the photo that you wish to say something or supply correct information.</div>
  </div>
  <div class="jumbotron__item">
    <button class="jumbotron__item-number mdl-button mdl-js-button mdl-button--fab mdl-color--light-green-300">2</button>
    <div class="jumbotron__item-text">Type whatever you wish to say or simply paste a link. A link can be a webpage, photo, wikipedia, facebook, twitter…anything you wish. Then finish it with some hashtags(#) if you like.</div>
  </div>
  <div class="jumbotron__item">
    <button class="jumbotron__item-number mdl-button mdl-js-button mdl-button--fab mdl-color--light-green-300">3</button>
    <div class="jumbotron__item-text">Press Ctrl+Enter (Cmd+Enter for Mac) or click “post” to publish.</div>
  </div>
</div>
<div class="jumbotron__summary">Wish to make your photo as cool as this?  Install our plugin! LEARN MORE</div>