<h3 class="h3_title"><%= post.title %></h3>
<div class="msg_para"><%= summary post.content, length: 100 %></div>

<div class="icon_star">
  <a href="#"><i class="fa fa-star fa-2x"></i></a>
  <a href="#" class="active"><i class="fa fa-star fa-2x active"></i></a>
</div>