@import "material-design-lite/src/color-definitions";
$color-accent: $palette-red-A200;
$layout-header-bg-color: rgba(255,255,255,0.8);
$layout-header-text-color: black;
@import 'material-design-lite/src/material-design-lite';
@import 'blocks/*';
@import 'pages/home';
@import 'photos/show';
@import 'single_page';