@import 'material-design-lite/src/material-design-lite';
@import 'fullpage.js/jquery.fullPage.scss';
@import 'plyr/src/sass/plyr';

@function section-background($image-url){
  @return linear-gradient( rgba(0,0,0,0.23),rgba(0,0,0,0.23) ), url(image-path($image-url)) center / cover;
}

#fp-nav ul li a span{
  background: white;
}

.mdl-layout__header{
  background-color: rgba(255,255,255,0.8);
}

.notice{
  color: white;
}

.section--1{
  background: section-background('landing/bg-1.jpg');
  .right-cell{
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    color: white;
  }
}

.section--2{
  background: url(image-path('landing/pattern.png'));
  h1{
    text-align: center;
  }
  .mdl-textfield{
    width: 100%;
  }
  .mdl-button{
    width: 100%;
  }
}