body.normal{
  > header.header{
    > div.custom_header_line{
      display: none;
    }
    > nav.header_nav{
      border-bottom: 1px solid $main_gray_color;
    }
  }

  div.normal_container{
    padding-top: 20px;
  }
}