.single_page{
  main{
    margin-top: -35vh;
  }

  .single-page-ribbon{
    width: 100%;
    height: 40vh;
    background-color: unquote("rgb(#{$palette-red-400})");
    flex-shrink: 0;
  }

  .single-page-content{
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
  }
}