<p>Dear <b><%= @resource.username %></b>,</p>
<p>Thank you for joining Ziltag. Here is your registration details.</p>
<table class="mail__table">
  <tbody align="left">
    <tr>
      <th>Username</th>
      <td><%= @resource.username %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @email %></td>
    </tr>
  </tbody>
</table>

<div class="mail__confirm">
  <p>In order to get started, please confirm your email address.</p>
  <%= link_to 'Confirm Email', "https://#{Rails.configuration.action_mailer.default_url_options[:host]}/dashboard/verify?confirmation_token=#{URI.encode_www_form_component(@token)}", class: 'mail__button' %>
</div>