<%= image_tag 'logo.png' %>

<p>你好，<%= @resource.username %>：</p>

<p>我們的系統收到了重設你密碼的請求，你可以透過點擊以下連結重設密碼：</p>

<%= link_to '重設我的密碼', edit_password_url(@resource, reset_password_token: @token), style: 'background-color: red; color: white; padding: 10px 30px; border-radius: 5px; text-decoration: none' %>

<p>如果你從未發送這個請求，請忽略這封信。</p>
