<header class="header">
  <nav class="navbar navbar-default header_nav">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 col_logo">
          <h1 class="h1_title"><a href="/"><%= image_tag("logo.png", :alt => "Ziltag", :title => "Ziltag") %></a></h1>
        </div><!-- /.col-* -->
        
        <div class="col-xs-7 col_search">
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default btn_search" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-* -->
        
        <div class="col-xs-3">
          <ul class="list-inline pull-right nav_list">
          
            <li><%= link_to '登入', new_user_session_path, :class => "nav_link" %></li>
            <li><%= link_to '註冊', new_user_registration_path, :class => "nav_link" %></li>
            
            <!--
            <li><%#= link_to '登出', destroy_user_session_path, method: :delete %></li>
            <li><%#= link_to '忘記密碼', new_user_password_path %></li>
            <li><%#= link_to '重寄驗證信', new_user_confirmation_path %></li>
            -->
          </ul>
        </div><!-- /.col-* -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </nav>
</header><!-- /.header -->