<aside class="aside">
  <ul class="list-unstyled">
    <li>
      <a href="#">推薦內容</a>
    </li>
    <li>
      <a href="#">以圖找貼</a>
    </li>
    <li>
      <a href="#">我的樂貼</a>
    </li>
    <li>
      <a href="#">我的收藏</a>
    </li>
    <li>
      <a href="#">瀏覽記錄</a>
    </li>
  </ul>
</aside><!-- /.aside -->