.ziltag-form-domain {
  width: 380px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__title {
    font-size: 20px;
    color: rgba(0, 0, 0, .87);
    font-weight: 500;
    line-height: 20px;
  }
  &__platforms {
    margin: 43px 0 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 218px;
  }
  &__platform {
    // &::before {
    //   content: '●';
    //   display: inline-block;
    //   width: 9px;
    //   height: 9px;
    //   border-radius: 50%;
    //   margin-right: 8px;
    //   font-size: 18px;
    // }
  }
  &__label {
    font-size: 14px;
    color: rgba(0, 0, 0, .12);
    line-height: 30px;
    cursor: pointer;
    &::before {
      content: '●';
      display: inline-block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      margin-right: 8px;
      font-size: 18px;
    }
  }
  &__radio {
    position: absolute;
    visibility: hidden;
    &:checked+label {
      color: rgba(0, 0, 0, .54);
    }
  }
  &__submit {
    margin-top: 38px;
    width: 100%;
  }
  &__field {
    margin-top: 33px;
  }
}
.ziltag-domain-field {
  position: relative;
  &__domain {
    position: absolute;
    top: 0;
    left: 150px;
    font-size: 14px;
    color: rgba(0, 0, 0, .26);
    letter-spacing: 1.75px;
    line-height: 20px;
  }
}