.ziltag-form-domain {
  width: 380px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__title {
    font-size: 20px;
    color: rgba(0, 0, 0, .87);
    font-weight: 500;
    line-height: 20px;
  }
  &__url {
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
    line-height: 19px;
    margin-top: 43px;
  }
  &__arrow {
    background: url('./arrow.png') center/contain no-repeat;
    width: 34px;
    height: 34px;
    margin-top: 16px;
  }
  &__submit {
    margin-top: 38px;
    width: 100%;
  }
  &__field{
    margin-top: 43px;
    width: 100%;
  }
}