$main_gray_color: #979797;
$secondary_gray_color: #F1F1F1;
$third_gray_color: #D1D1D1;
$fourth_gray_color: #CBCBCB;
$fifth_gray_color: #535353;

$main_white_color:      white;

$main_black_color:      black;

$main_red_color:        #EE2E24;
