.ziltag_wrapper{
  position: relative;
}

.ziltag_sticker{
  position: absolute;
  background-image: image-url('ziltag_sticker_others.png');
  width: 34px;
  height: 29px;
  opacity: 0.8;
  z-index: 1;
  transition: opacity 0.5s;
}

.ziltag_sticker:hover{
  opacity: 1;
  background-image: image-url('ziltag_sticker.png');
}