#ziltag_new_modal{
  
  div.modal-dialog{
    width:95%;
    max-width: 900px;
    div.modal-content{
      min-width: 900px;
      background:$main_black_color \9; /* IE8 */
      filter:alpha(opacity=0) \9; /* IE8 */
      background-color: rgba(255, 255, 255, 0);
    }
    
    div.modal-body{
      width:100%;
      padding:0;
      
      section.all_contents{
        position: relative;
        &:before, &:after{
          content:"";
          display: block;
        }
        &:after{
          clear: both;
        }
        button.close{
          position: absolute;
          right:-18px;
          top:-18px;
          border-radius: 50%;
          background-color: $main_white_color;
          width:36px;
          height: 36px;
          opacity: 1;
          box-shadow: 0 2px 2px gray;
          z-index: 9;
          > span{
            color: $main_black_color;
            font-size: 30px;
            line-height: 20px;
          }
        }
        div.left_side, div.right_side{
          box-sizing: border-box;
          height: 600px;
        }
        div.left_side{
          width:32%;
          float:left;
          background-color: $main_white_color;
          div.new_and_filter{
            background-color: $eighth_gray_color;
            width:100%;
            border-bottom: 1px solid $ninth_gray_color;
            padding:{
              top:10px;
              bottom:10px;
            };
            &:before, &:after{
              content:"";
              display: block;
            }
            &:after{
              clear:both;
            }
            a.new_post{
              color:$main_black_color;
            }
            
            div.right_field{
              button.btn{
                background-color: $main_gray_color;
                color: $main_white_color;
              }
              @media screen and (min-width:768px){
                padding-left:0;
              }
              
            }
            
            
          }
          
          div.list_block{
            overflow: hidden;
            ul.list_ul{
              margin:0;
              height: 550px;
              overflow-y: scroll;
              > li.item{
                > a{
                  display: block;
                  color:black;
                  padding:10px;
                  border-bottom: 1px solid #DFDFDF;
                  text-decoration: none;
                  &:hover{
                    background-color: $tenth_gray_color;
                  }
                  &:before, &:after{
                    content: "";
                    display: block;
                  }
                  &:after{
                    clear:both;
                  }
                  div.post_title_block{
                    position: relative;
                    padding-right: 67px;
                    h3.title{
                      font-size: 16px;
                      margin:0;
                    }
                    span.date{
                      position: absolute;
                      font-size: 11px;
                      color:$main_gray_color;
                      top:5px;
                      right:0;
                    }
                  }
                  
                  div.post_context_block{
                    margin-top: 5px;
                    div.img_block{
                      float:right;
                      margin-left: 10px;
                      > img{
                        max-width: 100%;
                      }
                    }
                    p.summary{
                      font-size: 12px;
                      color: $fifth_gray_color;
                      margin:0;
                    }
                  }
                }
              }
            }
          }
        }
        div.right_side{
          width:66%;
          float:right;
          div.zone_picture{
            margin-bottom: 20px;
            background-color: $main_white_color;
            height: 545px;
            overflow-y: scroll;
            
            div.drop_file{
              height: 100%;
              div.drop_file_hint{
                text-align: center;
                padding-top: 130px;
                span.icon_span{
                  display: inline-block;
                  border-radius: 50%;
                  width:200px;
                  height: 200px;
                  background-color: #EAEAEA;
                  text-align: center;
                  box-shadow: inset 0 1px 5px #aaa;
                  i.fa{
                    font-size: 150px;
                    margin-top: 35px;
                    display: inline-block;
                    color: RGBA(217, 217, 217, .8);
                    text-shadow: 0px 0px 3px #d9d9d9, 0 0 0 #000, 0px 0px 3px #d9d9d9;
                  }
                }
                p{
                  margin:50px 0 0 0;
                  color: $third_gray_color;
                  font-size: 20px;
                }
              }
            }
          }
          div.zone_picture_url{
            background-color: $main_white_color;
            
            div.zone_picture_url_block{
              position: relative;
              #progress_bar{
                background: white;
                height: 100%;
                display: none;
                border:1px solid #ddd;
                width:100%;
                position: absolute;
                padding:2px;
                bottom:0;
                left:0;
                z-index: 9;
              }
              #dynamic_progress{
                background-color: green;
                width:0%;
                height: 100%;
                color:white;
              }
              span.not_image, span.is_image{
                position: absolute;
                top:6px;
                right:6px;
              }
              span.not_image{
                > i{
                  color: red;
                }
              }
              span.is_image{
                > i{
                  color:green;
                }
                button.image_confirm{
                  @extend .btn;
                  @extend .btn-default;
                  @extend .btn-xs;
                }
              }
              input.fetch_images{
                border-radius: 0;
              }
            }
            
            
          }
          div.edit_zone{
            background-color: $main_white_color;
            height: 100%;
            div.uploaded_image_block{
              article.img_article{
                div.ziltag_wrapper{
                  position: relative;
                  
                }
                a.ziltag{
                  position: absolute;
                  cursor: pointer;
                  span.remove_ziltag{
                    position:absolute;
                    display: inline-block;
                    right:-8px;
                    top:-12px;
                    color:black;
                    font-size:18px;
                    z-index: 999 !important;
                  }
                }
              }
              div.img_edit_zone_block{
                overflow: hidden;
                
                div.img_edit_zone{
                  overflow-y: scroll;
                  height: 450px;
                }
              }
              div.publish_this{
                background-color: $eighth_gray_color;
                text-align: right;
                min-height: 44px;
                a.btn_unpublished{
                  @extend .btn;
                  @extend .btn-default;
                  background-color: $main_gray_color;
                  color: $main_white_color;
                  margin: 5px 5px 5px 0;
                  &:hover{
                    background-color: $main_gray_color;
                    color: $main_white_color;
                  }
                }
                a.btn_published{
                  @extend .btn_unpublished;
                  background-color: $main_red_color;
                  &:hover{
                    background-color: $main_red_color;
                    color: $main_white_color;
                  }
                }
              }
              div.post_list_block{
                padding:{
                  left:10px;
                  right:10px;
                };
                ul.post_list{
                  > li{
                    border-bottom: 1px solid $fourth_gray_color;
                    padding:{
                      left:10px;
                      right:10px;
                      top:10px;
                      bottom:10px;
                    };
                    div.list_block_div{
                      position: relative;
                      padding:{
                        left:10px;
                        right:10px;
                      };
                      div.operation_link{
                        position: absolute;
                        right:0;
                        top:20px;
                        > a{
                          color: $main_gray_color;
                          font-size: 24px;
                          margin-right: 3px;
                        }
                      }
                      h3.title{
                        color:$fifth_gray_color;
                        font-size: 14px;
                        margin:0;
                      }
                      div.post_contents{
                        color: $main_gray_color;
                        font-size: 12px;
                        margin-top: 5px;
                        height: 50px;
                        overflow-y: scroll;
                        margin-right: 50px;
                      }
                    }
                    
                  }
                }
              }
            }
          }
        }
        
      }
    }
  }
  
}
div.modal-backdrop.in{
  opacity: .8;
}

#edit_ziltag_modal{
  div.modal-footer{
    button.btn_save{
      @extend .btn;
      @extend .btn-primary;
      background-color: $main_red_color;
      color: $main_white_color;
      border:1px solid $main_red_color;
      &:hover{
        background-color: $main_red_color;
        color: $main_white_color;
        border:1px solid $main_red_color;
      }
    }
    button.btn_cancel{
      @extend .btn;
      @extend .btn-default;
      background-color: $main_gray_color;
      color: $main_white_color;
      border:1px solid $main_gray_color;
      &:hover{
        background-color: $main_gray_color;
        color: $main_white_color;
        border:1px solid $main_gray_color;
      }
    }
  }
}