# 用於在圖片上顯示樂貼
# <img src="blablabla" data-sticker>
$(document).on 'ready page:load', () ->
  $imgs = $('img[data-sticker]')
  return if $imgs.length == 0
  url_hash = {}
  image_urls = $.map $imgs, (img) ->
    url = URI(img.src).absoluteTo(window.location.href).normalize().href()
    url_hash[url] = img
    url
  $.getJSON '/admin/ziltaggings.json', image_url: image_urls, (ziltags) ->
    for ziltag in ziltags
      sticker = "<a title=\"#{ziltag.title}\" href=\"#{ziltag.link}\"><img src=\"<%= asset_path('sticker.png') %>\" class=\"img-circle sticker\"/></a>"
      $(url_hash[ziltag.image_url])
        .wrap('<div style="position:relative"></div>')
        .after("<div style=\"position:absolute;left:#{ziltag.x - 12.5}px;top:#{ziltag.y - 12.5}px;\">#{sticker}</div>")