<h1>How to Install Ziltag</h1>
<hr>

<textarea rows="12" cols="100" onclick="this.focus();this.select()" readonly="readonly"><script>
  /* --- CONFIGURATION --- */
  var ziltag_img_selector = 'img';

  /* --- DON NOT TOUCH --- */
  (function(){
    var ztg = document.createElement('script');
    ztg.src = 'http://staging.ziltag.com/assets/embedded.js';
    document.body.appendChild(ztg);
  })();
</script>
<noscript>You have to enable JavaScript to use Ziltag.</noscript></textarea>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada elementum augue, quis tristique metus gravida vitae. Sed nec justo consequat, elementum ante vitae, ornare dui. Proin sollicitudin tortor in quam egestas posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus dapibus enim vel viverra posuere. Curabitur congue lacus id orci scelerisque, semper vulputate orci rhoncus. Pellentesque condimentum turpis non varius fringilla. Etiam in odio ante. Aliquam ut est dictum, fermentum tellus eget, semper nibh. Suspendisse ut ultricies urna. Cras eu rutrum dolor, ullamcorper pellentesque erat.</p>

<p>Aliquam vitae nisl aliquet, viverra nisi a, vulputate leo. Nullam interdum nisl in ipsum congue faucibus. Pellentesque viverra enim eros, eu imperdiet massa blandit et. Sed vitae malesuada nisl. Praesent nulla leo, blandit non dictum at, luctus ut dolor. Morbi placerat augue nisl, id vehicula est accumsan non. Donec id consectetur diam. Cras vel dolor pretium, scelerisque ipsum ac, vulputate augue. Curabitur venenatis purus elit. Maecenas id tincidunt neque, id congue ligula. Pellentesque suscipit sapien lorem, et pulvinar libero lacinia in. Fusce in aliquet velit. Ut id semper enim.</p>

<p>Proin nulla lacus, auctor eget fringilla ut, finibus non elit. Suspendisse ut leo in risus imperdiet viverra sit amet sit amet mauris. Phasellus et dictum dui. Sed laoreet ornare libero non sodales. Nulla ac semper urna. Praesent nec tincidunt dui, ac ultricies sem. Curabitur ac urna sit amet massa blandit sollicitudin nec eget nibh. Sed ipsum enim, feugiat vel nisl nec, rhoncus placerat dolor. In semper sagittis ligula vitae egestas. Donec hendrerit faucibus molestie. Donec condimentum magna ac tellus vulputate porta.</p>

<p>Etiam porttitor porta pretium. Sed eleifend dui eu sem rhoncus aliquet. Fusce laoreet, nisl eget congue interdum, libero magna faucibus lacus, convallis commodo orci neque non leo. Maecenas suscipit fermentum quam a molestie. Integer eget porttitor mi, eu gravida augue. Quisque lorem libero, fermentum ac risus sed, tincidunt fringilla leo. Aliquam ac est fermentum, efficitur arcu feugiat, condimentum metus. Nulla facilisi. Nam ullamcorper, nisi sed fringilla sollicitudin, velit lorem rhoncus mi, at porttitor purus massa vel eros. Ut quis nisl id orci convallis viverra sed quis nibh. Nulla id leo sed nisi lacinia placerat. Vivamus lacinia, mi in ullamcorper tristique, enim diam finibus metus, id sodales ante velit sollicitudin neque. Maecenas pellentesque elementum odio, ut egestas ipsum posuere nec. Quisque accumsan erat orci, ornare convallis tortor semper nec. Integer rhoncus enim sed sem eleifend dapibus. Mauris velit nulla, molestie ut ex id, placerat tincidunt est.</p>

<p>Nunc tincidunt, sem nec porttitor commodo, magna tellus porta turpis, sed consequat ex mauris in felis. Mauris condimentum aliquam interdum. Duis sagittis euismod augue vel volutpat. Maecenas aliquet interdum erat id vestibulum. Aliquam porttitor magna elit, nec ultrices elit tincidunt quis. Aenean vulputate tincidunt felis sit amet semper. Cras arcu tellus, bibendum eget accumsan in, interdum et magna. Praesent id lectus leo. Ut in purus condimentum, gravida leo non, rutrum lorem. Sed elementum egestas quam. Fusce tempus nisl et lacinia mattis.</p>