<h1>隱私權政策 <small><time>2015 年 7 月 1 日</time></small></h1>
<hr>

<p>感謝您使用Ziltag樂貼趣 (以下簡稱「服務」)。「服務」是由貝里斯商微廣科技股份有限公司台灣分公司 (以下簡稱「微廣」) 提供。</p>

<p>您可以用許多不同方式使用我們的「服務」：您可以瀏覽影片與相片、與其他人溝通、購買商品、獲取資訊、也可以建立新內容。您與我們分享資訊(例如在建立「微廣」帳戶時提供資訊)能協助「微廣」讓服務變得更好，當您使用服務時，我們希望您清楚瞭解我們使用資訊的方式，以及我們保障您隱私權的各種措施。</p>

<p>為配合政府「個人資料保護法」（下稱個資法）的實施，我們謹於《隱私權政策》中說明下列有關您個人資料的使用、維護事項：</p>

<ul>
  <li>我們收集的資訊類型和收集理由。</li>
  <li>我們使用資訊的方式。</li>
  <li>我們提供的選項，包括存取與更新資訊的方法。</li>
  <li>您個人資料之當事人權利。</li>
</ul>

<p>我們盡可能地以簡單易懂的文字表達，但是如果您對「Cookie」、「IP 位址」、「像素標記」和「瀏覽器」等詞語並不熟悉，請先閱讀這些關鍵詞語的說明。「微廣」非常重視您的隱私權，因此不論您是剛開始使用「服務」，或是已使用一段時間，都請撥冗瞭解我們的做法；如有任何疑問，歡迎您透過客服專線、論壇或客服信箱：service@ziltag.com與我們聯絡。</p>

<h2>我們收集的資訊</h2>
<hr>

<p>我們收集資訊是為了向所有使用者提供更優質的服務；這些資訊可協助我們判斷基本設定 (例如您使用的語言)，甚至分析更複雜的內容(例如對您最實用的廣告及優惠獎勵)。</p>

<p>我們收集資訊的方式有兩種：</p>

<ul>
  <li><b>您提供的資訊。</b>舉例來說，「微廣」有許多服務都必須先申請「微廣」 帳戶才能使用。在申請過程中，我們會請您依照網頁所載欄位提供姓名、電子郵件地址、出生年月日、性別、電話號碼或信用卡號碼等個人資訊。</li>
  <li><b>我們經由您對我們服務的使用而取得的資訊。</b>我們會針對您使用的服務和使用方式收集相關資訊，例如當您在欣賞相片或影片時，或是當您瀏覽我們的廣告以及內容並進行互動時。這類資訊可能包括：
    <ul>
      <li>
        <p><b>裝置資訊</b></p>
        <p>我們會收集裝置專屬資訊 (例如您的硬體型號、作業系統版本、裝置的唯一識別碼，以及電話號碼等行動網路資訊)。「微廣」會將您的裝置識別碼或電話號碼與您的「微廣」帳戶建立連結。</p>
      </li>
      <li>
        <p><b>紀錄資訊</b></p>
        <p>當您使用「微廣」服務或瀏覽「微廣」提供的內容時，我們可能會自動收集特定資訊並儲存在伺服器記錄中。這類資訊可能包括：</p>
        <ul>
          <li>您對我們服務的使用詳情，例如您的搜尋查詢。</li>
          <li>電話紀錄資訊，例如您的電話號碼、來電號碼、轉接號碼、通話日期和時間、通話持續時間、簡訊傳送資訊，以及通話類型。</li>
          <li>網際網路通訊協定位址。</li>
          <li>裝置活動資訊，例如當機資料、系統活動、硬體設定、瀏覽器類型、瀏覽器語言、您提出要求的日期和時間，以及參照連結網址。</li>
          <li>用於識別您的瀏覽器或「微廣」帳戶的專屬 Cookie。</li>
        </ul>
      </li>
      <li>
        <p><b>位置資訊</b></p>
        <p>如果您使用有定位功能的 「微廣」服務，我們會收集並處理您的實際所在位置的相關資訊，例如行動裝置發送的GPS(衛星定位訊) 號。我們也會使用各種技術判斷您的所在位置；舉例來說，您裝置上的感應器資料可能會提供附近 Wi-Fi 存取點和手機基地台的資訊。</p>
      </li>
      <li>
        <p><b>專屬應用程式編號</b></p>
        <p>某些服務所附的專屬應用程式編號；當您安裝或解除安裝這類服務，或是這類服務定期與我們的伺服器連線 (例如進行自動更新) 時，系統就會將這個編號以及安裝資訊(例如作業系統類型和應用程式版本號碼) 傳送給「微廣」。</p>
      </li>
      <li>
        <p><b>本機存放區</b></p>
        <p>我們會運用瀏覽器網路存放區(包括 HTML 5)和應用程式資料快取等機制，收集資訊(包括個人資訊)並將其儲存在您的裝置本機中。</p>
      </li>
      <li>
        <p><b>Cookie和匿名識別碼</b></p>
        <p>當您造訪 「微廣」服務時，我們會使用各種技術收集並儲存資訊，而這可能包括將一個或多個Cookie或匿名識別碼傳送至您的裝置。此外，當您與我們提供給合作夥伴的服務(例如其他網站顯示的廣告服務或 功能)產生互動時，我們也會使用 Cookie 和匿名識別碼。</p>
      </li>
    </ul>
  </li>
</ul>

<h2>我們如何使用收集到的資訊</h2>
<hr>

<p>我們將會基於契約或類似契約履行事項、行政管理、資訊提供、統計調查及分析，及其他合於我們營業活動所需之特定目的內，蒐集、處理及利用您的個人資料。我們各種服務收集到的資訊將用於提供、維持、保護與改善服務、開發新的服務，以及保護 「微廣」和我們的使用者。我們也會運用這些資訊，針對您的需求提供個人化的服務內容。</p>

<p>您向「微廣」所提供的名稱將可能用於我們所有需要使用「微廣」帳戶的服務。此外，我們可能會換掉您之前所用與您「微廣」帳戶相關的名稱，讓您在我們所有服務中全部顯示一樣的名稱。</p>

<p>當您與「微廣」聯絡時，我們會留存您的通訊紀錄，以協助解決您遇到的任何問題。我們會使用您的電子郵件地址通知您我們服務的相關事項，例如告知您即將推出的變更或改進。</p>

<p>我們會使用透過Cookie和像素標記等其他技術收集到的資訊，改善您的使用者體驗以及我們的整體服務品質。例如，我們可儲存您的語言偏好設定，讓我們的服務系統以採用您偏好的語言顯示。在向您顯示個人化廣告時，我們不會將 Cookie或匿名識別碼與敏感類別 (例如基於種族、宗教、性傾向或健康狀況等類別) 建立連結。</p>

<p>我們可將您在某項服務中的個人資訊，與其他 「微廣」服務中的資訊 (包括個人資訊) 合併用於特定目的，例如讓您能夠更方便地與自己認識的人分享內容。除非取得您的同意，否則我們不會將 DoubleClick Cookie資訊與身分識別資訊合併使用。</p>

<p>如我們要將您的個人資訊用於本《隱私權政策》未載明的其他用途時，我們會先詢問您是否同意。</p>

<p>「微廣」使用位於世界各地許多國家/地區的伺服器處理個人資訊。我們會使用您所在國家/地區境外的伺服器來處理您的個人資訊。</p>

<h2>資訊透明化和選擇權</h2>
<hr>

<p>大家對於隱私權的疑慮各有不同，我們的目標是明列我們所收集的資訊，讓您瞭解使用資訊的方式，再做選擇。</p>

<p>您也可以將瀏覽器設定為封鎖所有Cookie，包括與我們服務連結的Cookie，或設定為當我們送出 Cookie時要顯示通知。不過，請務必記得，如果您停用Cookie，我們有許多服務可能便無法正常運作，例如可能無法記住您的語言偏好設定。</p>

<h2>您分享的資訊</h2>
<hr>

<p>我們有許多服務都可以讓您與其他人分享資訊。當您公開分享資訊時，請記得，各家搜尋引擎都可對該資訊建立索引。我們的服務會針對分享內容和移除內容的方式提供您不同選項。</p>

<h2>您個人資料之當事人權益</h2>
<hr>

<p>您可透過email或電話（客服信箱service@ziltag.com，或洽本公司客服專線）進行您個人資料查詢閱覽、製給複製本，並補充或更正，或要求我們停止蒐集、處理、利用或刪除您的個人資料，或停止提供資料或資訊。</p>

<h2>個人資訊的分享及提供</h2>
<hr>

<p>除非適用以下任何一種情況，否則我們不會與其他公司、機構或個人分享個人資訊：</p>

<ul>
  <li>
    <p><b>事先徵得您的同意</b></p>
    <p>我們只會在徵得您的同意時，才與其他公司、機構或個人分享個人資訊。分享任何敏感的個人資訊前，我們都會先徵求您的同意。</p>
  </li>
  <li>
    <p><b>供外部處理</b></p>
    <p>我們會將個人資訊提供給我們的關係企業或其他可信賴的公司或人員，請他們根據我們的指示，並遵守本《隱私權政策》且不逾越蒐集您個人資料之特定目的必要範圍，以及採取適當的保密和安全措施，代為處理這類資訊。</p>
  </li>
  <li>
    <p><b>基於法律原因</b></p>
    <p>如果我們合理認為為了達到下列目的，對個人資訊的存取、使用、保存或揭露屬合理必要行為時，我們將與其他公司、機構或個人分享個人資訊：</p>
    <ul>
      <li>符合適用法律、法規、法律程序或政府執行命令。</li>
      <li>執行適用《服務條款》，包括調查可能的違規情事。</li>
      <li>偵測、防止或以其他方式處理詐欺、安全或技術問題。</li>
      <li>依法律規應或在合法範圍內，保護「微廣」、使用者或公眾之權利、財產或安全不致遭受危害。</li>
    </ul>
    <p>我們會與大眾及合作夥伴 (例如出版商、廣告客戶或連結網站) 分享無法識別身分的集合資訊。舉例來說，我們會將資訊對外公開，讓外界瞭解我們服務的一般使用趨勢。</p>
    <p>如果「微廣」涉及合併、收購事宜或出售資產，我們將繼續嚴守任何個人資訊之保護，並於個人資訊移轉或應適用不同隱私權政策前，先行通知受影響的使用者。</p>
  </li>
</ul>

<h2>資訊安全</h2>
<hr>

<p>我們致力於保護所持有的 「微廣」和使用者相關資訊，防止未經授權而遭到存取、竄改、揭露或毀損。尤其是：</p>

<ul>
  <li>我們使用 SSL 為我們的許多服務加密。</li>
  <li>我們提供兩步驟的驗證機制供您存取「微廣」帳戶。</li>
  <li>我們會審查收集、儲存、處理資訊的做法 (包括採取實體安全措施)，保護系統不致發生未經授權的存取。</li>
  我們僅允許為了代表我們處理個人資訊而需要知悉該等資訊的 「微廣」員工、承包商和代理人存取資訊。且相關<li>人員均須遵守嚴格的契約保密義務，一旦未遵守義務便將受到懲戒或解約處分。</li>
</ul>

<h2>適用範圍</h2>
<hr>

<p>我們的《隱私權政策》適用於所有由「微廣」及其關係企業提供的服務，包括於其他網站上提供的服務 (例如我們的廣告服務)；但另行訂定隱私權政策且未納入本《隱私權政策》的服務除外。</p>

<p>我們的《隱私權政策》不適用於由其他公司或個人提供的服務，包括可能包含 「微廣」服務的網站，或我們服務所連結到的其他網站。我們的《隱私權政策》不涵括其他為我們的服務做廣告的公司和機構所採用的資訊做法。這些公司和機構會使用Cookie、像素標記和其他技術來放送和提供相關廣告。</p>

<h2>政策執行</h2>
<hr>

<p>我們會定期自我審查是否遵守《隱私權政策》。我們也會恪守自律架構。我們收到正式的書面申訴後，會與申訴人聯絡，處理後續事宜。</p>

<h2>變更</h2>
<hr>

<p>我們的《隱私權政策》會不時變更。您可以隨時於我們網站上查詢最新之隱私權政策；如果屬於重大變更，我們會提供更明顯的通知 (包括某些服務會以電子郵件通知隱私權政策的變更)。</p>

