<h1>Ziltag 服務條款 <small><time>2015 年 7 月 1 日</time></small></h1>

<hr>

<p>感謝您使用Ziltag樂貼趣 (以下簡稱「服務」)。「服務」是由貝里斯商微廣科技股份有限公司台灣分公司 (以下簡稱「微廣」) 提供。</p>

<p>只要您使用「服務」，即表示您有能力同意且同意本條款，故請詳閱本條款內容。</p>

<p>由於「服務」種類繁多，因此某些「服務」可能會有附加條款或產品規定 (包括年齡限制)。附加條款將與相關「服務」一併提供；當您使用該「服務」時，該等附加條款即成為您與我們所訂協議的一部分。</p>

<h2>使用「服務」</h2>
<hr>

<p>您必須遵守「服務」中向您提供的所有政策。</p>

<p>請勿濫用「服務」。舉例來說，您不應干擾「服務」運作，亦不得試圖透過我們所提供的介面和操作說明以外的方法接入、使用或存取「服務」。您僅可於法律及我們允許範圍內使用「服務」。如果您未遵守我們的條款或政策，或是如果我們正在調查疑似違規行為，我們可能會暫停或終止向您提供「服務」，包括終止您的帳戶、刪除您上傳的內容。</p>

<p>使用「服務」並不會將「服務」或您所存取內容的任何智慧財產權授予您。除非相關內容的擁有者同意或法律允許，否則您一律不得使用「服務」中的內容。本條款並未授權您可使用「服務」中所採用的任何品牌標示或標誌。請勿移除、遮蓋或變造「服務」所顯示或隨附顯示的任何法律聲明。</p>

<p>「服務」中顯示的部分內容並非「微廣」所有，這類內容應由其提供單位或個人承擔全部責任。我們可對內容進行審查，以判斷其是否違法或違反 「微廣」 政策，並可移除或拒絕顯示我們合理確信違反我們政策或法律的內容。不過，這不表示我們一定會對內容進行審查，因此請勿如此認定。</p>

<p>有關您對「服務」的使用，我們會向您發送服務公告、行政管理訊息和其他資訊；您可取消接收其中某些通訊內容。</p>

<h2>您的Ziltag帳戶</h2>
<hr>

<p>您可能需有Ziltag帳戶才能使用我們的某些「服務」。您可自行建立Ziltag帳戶。在建立帳戶時，您應提供真實、完整的信息。您須對以您的帳戶所進行的行為負責，並安全保管您的帳戶密碼。</p>

<p>如果您發現密碼或帳戶遭人盜用，請盡快與我們聯繫。您可能需對未經您授權使用您帳戶的行為對「微廣」或其他人所造成的損失負責。</p>

<h2>隱私權與著作權保護</h2>
<hr>

<p>「微廣」 的《隱私權政策》會說明當您使用「服務」時，我們會如何處理您的個人資料並保護您的隱私權。您使用「服務」，即表示您同意 「微廣」 可依據我們的隱私權政策的規定使用這類資料。</p>

<p>我們會對涉嫌著作權侵權通知做出回應，並終止一再侵權者的帳戶。</p>

<p>我們會提供相關資訊，協助著作權人在線上管理其智慧財產。如果您認為有人侵犯您的著作權，請盡快通知我們。</p>

<h2>您儲存在「服務」中的內容</h2>
<hr>

<p>部分「服務」可讓您提交內容；您仍保有相關內容中您擁有的智慧財產權。簡而言之，屬於您的依舊是您的。</p>

<p>當您將內容上傳或以其他方式提交至「服務」，即表示您授予 「微廣」 (及我們的合作夥伴) 全球通用的授權，可使用、代管、儲存、重製、修改、製作衍生作品 (例如翻譯、改編或變更您的內容，使其更加配合我們的「服務」)、傳播、發佈、公開操作、公開展示與散佈這類內容。您於本項授權授予的權利僅限用於營運、宣傳與改善「服務」，以及開發新的服務。即使您停止使用「服務」，本項授權仍持續具有效力。部分「服務」可讓您存取與移除先前提交至該「服務」的內容。此外，某些「服務」會有條款或設定縮限我們對提交至該類「服務」之內容的使用範圍。請確認您擁有必要權利，可就您提交至「服務」的任何內容授予我們本項授權。</p>

<p>如要進一步瞭解 「微廣」 使用與儲存內容的方式，請參閱相關「服務」的隱私權政策或附加條款。如果您就「服務」提供意見或建議，我們可使用您的意見或建議，對您不負任何義務。</p>

<p>您承諾您擁有上傳或提交相關內容的許可、授權、同意或其他相關權利，且您所上傳或提交的內容並不侵犯他人的任何智慧財產權或其他權利。否則，您應承擔由此產生的一切責任。</p>

<h2>有關「服務」所含軟體</h2>
<hr>

<p>如果「服務」需有或內含可下載軟體，該軟體可能會在提供新版或新功能時，在您的裝置上自動更新。部分「服務」可以讓您調整您的自動更新設定。</p>

<p>「微廣」授予您全球通用、免權利金、不得轉讓、非專屬的個人使用授權，讓您使用「微廣」提供給您的、包含在「服務」中的軟體。本授權僅供您以這些條款允許之方式，使用「微廣」提供之「服務」並享用其利益。除非法律禁止下列限制，或除非您已取得我們的書面許可，否則您不得複製、修改、散佈、銷售或出租「服務」的任何部分或其中包含的軟體，也不得對該軟體進行逆向工程或試圖擷取其原始程式碼。</p>

<h2>修改與終止「服務」</h2>
<hr>

<p>我們會持續不斷變更並改進「服務」。我們可能會新增或移除功能或特性，也可能會完全暫停或停止某項「服務」。</p>

<p>您隨時都可以停止使用「服務」，不過我們並不希望您這麼做。「微廣」也可能隨時停止向您提供「服務」，或對「服務」附加或設定新的限制。</p>

<p>我們認為您的資料是屬於您所有，因此有必要維護您對這類資料的存取。當我們中止某項「服務」時，只要合理可行，我們都會給您合理的事先通知，讓您有機會能將資訊自該「服務」匯出。</p>

<h2>我們的擔保與免責聲明</h2>
<hr>

<p>我們會以商業上合理的技術與注意程度提供「服務」，希望您會盡情使用。但關於「服務」，有些事情我們不予保證。</p>

<p>除本條款或額外條款中明示規定者外，「微廣」 或其供應商或經銷商均不對「服務」做出任何特定保證。例如，我們不會就「服務」中的內容、「服務」之特定功能及其可靠性、可用性和符合您的需求的能力，做出任何承諾。我們僅以現狀提供「服務」。</p>

<p>在法律允許最大範圍內，「微廣」聲明免除所有明示或暗示之保證，包括但不限於，無侵權、合格品質、商業性與符合產品目的之保證。</p>

<h2>對「服務」的責任</h2>
<hr>

<p>凡法律准許時，「微廣」與「微廣」的供應商和經銷商對所失利益、收入或資料、財務損失或間接、特殊、衍生性、懲戒性或處罰性損害賠償均不負責。</p>

<p>在法律准許範圍內，「微廣」與其供應商和經銷商對依本條款所提出任何請求之總責任 (包括對任何默示擔保之責任)，均不超過您就使用「服務」而向「微廣」 支付的金額。</p>

<p>不論在任何情況下，「微廣」與其供應商和經銷商對無法合理預見之任何損失或損害均不負責。</p>

<h2>公司行號使用「微廣」服務</h2>
<hr>

<p>如果您是代表某公司使用「服務」，即表示該公司接受本條款。該公司必須就任何因使用「服務」或違反本條款而引起或相關的請求、訴訟或法律行動 (包括承擔所有因請求、損失、損害、訴訟、判決、訴訟費用和律師費用而產生的任何責任或費用)，向「微廣」及其關係企業、主管人員、代理人和員工做出補償，並使其不受損害。</p>

<h2>轉讓</h2>
<hr>

<P>您不得轉讓本條款及您本條款下的任何權利、義務及許可。「微廣」可根據自身需要，轉讓前述權利、義務、許可及授權。</P>

<h2>有關本條款的說明</h2>
<hr>

<P>我們可能會修改本條款或適用於某「服務」之任何額外條款，以 (例如)反映法律之變更或「服務」之變動。您應定期查閱本條款內容。這些條款如有修訂，我們會在本網頁發佈通知。我們會在相關「服務」中公布已修訂額外條款的通知。變更不會回溯適用，並將於公布變更起十四天後方始生效。不過，針對某項「服務」新功能的變更，或基於法律理由而為之變更，將立即生效。如果您不同意某項「服務」之修訂條款，則請停止使用該「服務」。</P>

<P>如果本條款與額外條款牴觸時，就該牴觸項目而言，應以額外條款為準。</P>

<P>本條款規範「微廣」與您之間的關係，並不會衍生任何第三人受益權。</P>

<P>如果您不遵守本條款，而我們並未立即採取行動，這並不表示我們要放棄任何原本即有的權利 (例如未來再採取行動的權利)。</P>

<P>發生特定條款無法執行的情況時，並不會影響任何其他條款。</P>

<P>爭議解決：本條款或「服務」應適用臺灣法律。因本條款或「服務」事項涉訟者，雙方同意由臺灣臺北地方法院為第一審管轄法院。</P>

<P>如需「微廣」的聯絡資訊，請造訪我們的聯絡網頁。</P>