<html>
  <body>
    <div class="mail">
      <div class="mail__header">
        <%= message.subject %>
      </div>
      <div class="mail__content">
        <%= yield %>
      </div>
      <div class="mail__footer">
        <div class="mail__footer-left">© Ziltag Inc., 2016. All Rights Reserved.</div>
        <% if @partner_link %><div class="mail__footer-right">Bring Ziltag to your website! Join <%= link_to 'Ziltag Partner', root_url %>.</div><% end %>
      </div>
    </div>
  </body>
</html>
