<% content_for :before_main do %>
<div class="single-page-ribbon mdl-color--red-400"></div>
<% end %>

<% content_for :main do %>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  <div class="single-page-content mdl-color--white mdl-cell mdl-cell--8-col mdl-shadow--4dp">
    <%= yield %>
  </div>
</div>
<% end %>

<%= render template: 'layouts/application' %>